

<div class="partial partial-bundle">
  <a href="/bundle/jason-test-bundle/" aria-label="Jason Test Bundle">
    <div class="poster poster-portrait">
      <s72-availability-status data-slug="/bundle/107"></s72-availability-status>
      <s72-availability-label data-slug="/bundle/107"></s72-availability-label>
      
        <s72-image src="https://d1ho4360zp6ihx.cloudfront.net/954e2/images/282x422/bundle/107/a2bcf7cb29fc3ed9b923953d87a08cb4.jpg" alt="Jason Test Bundle" class="poster-image poster-image-portrait" border="0"></s72-image>
      
      <div class="hover">
        <div class="content">
          
          <s72-play-button data-slug="/bundle/107" title="Jason Test Bundle"></s72-play-button>
          <div class="buttons">
            
          </div>
          <div class="buttons">
            <s72-pricing-buttons data-slug="/bundle/107" class="pricing-buttons-fit" title="Jason Test Bundle"></s72-pricing-buttons>
          </div>
        </div>
      </div>
    </div>
  </a>
  
    <div class="caption">
      <div class="title" title="Jason Test Bundle">Jason Test Bundle</div>
      
  <div class="meta-item-tagline">
    
      <s72-classification-label data-slug="/bundle/107" data-layout="tooltip"></s72-classification-label>
    

    
    

    

    

    
      
  <span class="missing">
    
    <span class="item">
        1 items
      </span>
  </span>

      
    

    

    

    
  </div>

    </div>
  
</div>
