

<div class="partial partial-bundle">
  <a href="/bundle/new-api/" aria-label="New API">
    <div class="poster poster-portrait">
      <s72-availability-status data-slug="/bundle/29"></s72-availability-status>
      <s72-availability-label data-slug="/bundle/29"></s72-availability-label>
      
        <s72-image src="https://d1ho4360zp6ihx.cloudfront.net/954e2/images/282x422/bundle/29/ba6de5173cd2d9bf850dc2f5ac84003c.png" alt="New API" class="poster-image poster-image-portrait" border="0"></s72-image>
      
      <div class="hover">
        <div class="content">
          
          <s72-play-button data-slug="/bundle/29" title="New API"></s72-play-button>
          <div class="buttons">
            
          </div>
          <div class="buttons">
            <s72-pricing-buttons data-slug="/bundle/29" class="pricing-buttons-fit" title="New API"></s72-pricing-buttons>
          </div>
        </div>
      </div>
    </div>
  </a>
  
    <div class="caption">
      <div class="title" title="New API">New API</div>
      
  <div class="meta-item-tagline">
    
      <s72-classification-label data-slug="/bundle/29" data-layout="tooltip"></s72-classification-label>
    

    
    

    

    

    
      
  <span class="missing">
    
    <span class="item">
        2 items
      </span>
  </span>

      
    

    

    

    
  </div>

    </div>
  
</div>
