

<div class="partial partial-bundle">
  <a href="/bundle/seldnub/" aria-label="Seldnub">
    <div class="poster poster-portrait">
      <s72-availability-status data-slug="/bundle/31"></s72-availability-status>
      <s72-availability-label data-slug="/bundle/31"></s72-availability-label>
      
        <s72-image src="https://d1ho4360zp6ihx.cloudfront.net/954e2/images/282x422/bundle/31/e646fb3768a61db527b1d8b98f4a41a8.jpg" alt="Seldnub" class="poster-image poster-image-portrait" border="0"></s72-image>
      
      <div class="hover">
        <div class="content">
          
          <s72-play-button data-slug="/bundle/31" title="Seldnub"></s72-play-button>
          <div class="buttons">
            
          </div>
          <div class="buttons">
            <s72-pricing-buttons data-slug="/bundle/31" class="pricing-buttons-fit" title="Seldnub"></s72-pricing-buttons>
          </div>
        </div>
      </div>
    </div>
  </a>
  
    <div class="caption">
      <div class="title" title="Seldnub">Seldnub</div>
      
  <div class="meta-item-tagline">
    
      <s72-classification-label data-slug="/bundle/31" data-layout="tooltip"></s72-classification-label>
    

    
    

    

    

    
      
  <span class="missing">
    
    <span class="item">
        2 items
      </span>
  </span>

      
    

    

    

    
  </div>

    </div>
  
</div>
