

<div class="partial partial-bundle">
  <a href="/bundle/image-bundle/" aria-label="Image bundle">
    <div class="poster poster-portrait">
      <s72-availability-status data-slug="/bundle/63"></s72-availability-status>
      <s72-availability-label data-slug="/bundle/63"></s72-availability-label>
      
        <s72-image src="https://d1ho4360zp6ihx.cloudfront.net/954e2/images/70x150/bundle/63/5bf26828e61611f2dac04c271e5b1e78.jpg" alt="Image bundle" class="poster-image poster-image-portrait" border="0"></s72-image>
      
      <div class="hover">
        <div class="content">
          
          <s72-play-button data-slug="/bundle/63" title="Image bundle"></s72-play-button>
          <div class="buttons">
            
          </div>
          <div class="buttons">
            <s72-pricing-buttons data-slug="/bundle/63" class="pricing-buttons-fit" title="Image bundle"></s72-pricing-buttons>
          </div>
        </div>
      </div>
    </div>
  </a>
  
    <div class="caption">
      <div class="title" title="Image bundle">Image bundle</div>
      
  <div class="meta-item-tagline">
    
      <s72-classification-label data-slug="/bundle/63" data-layout="tooltip"></s72-classification-label>
    

    
    

    

    

    
      
  <span class="missing">
    
    <span class="item">
        2 items
      </span>
  </span>

      
    

    

    

    
  </div>

    </div>
  
</div>
