

<div class="partial partial-bundle">
  <a href="/bundle/geo/" aria-label="Geo">
    <div class="poster poster-portrait">
      <s72-availability-status data-slug="/bundle/81"></s72-availability-status>
      <s72-availability-label data-slug="/bundle/81"></s72-availability-label>
      
        <s72-image src="https://d1ho4360zp6ihx.cloudfront.net/954e2/images/282x422/bundle/81/0773623375129a22d66ad1a20af97c1b.jpg" alt="Geo" class="poster-image poster-image-portrait" border="0"></s72-image>
      
      <div class="hover">
        <div class="content">
          
          <s72-play-button data-slug="/bundle/81" title="Geo"></s72-play-button>
          <div class="buttons">
            
          </div>
          <div class="buttons">
            <s72-pricing-buttons data-slug="/bundle/81" class="pricing-buttons-fit" title="Geo"></s72-pricing-buttons>
          </div>
        </div>
      </div>
    </div>
  </a>
  
    <div class="caption">
      <div class="title" title="Geo">Geo</div>
      
  <div class="meta-item-tagline">
    
      <s72-classification-label data-slug="/bundle/81" data-layout="tooltip"></s72-classification-label>
    

    
    

    

    

    
      
  <span class="missing">
    
    <span class="item">
        3 items
      </span>
  </span>

      
    

    

    

    
  </div>

    </div>
  
</div>
