

<div class="partial partial-bundle">
  <a href="/bundle/drm-test-content-output-hd/" aria-label="DRM Test Content - Output - HD">
    <div class="poster poster-portrait">
      <s72-availability-status data-slug="/bundle/88"></s72-availability-status>
      <s72-availability-label data-slug="/bundle/88"></s72-availability-label>
      
        <s72-image src="" alt="DRM Test Content - Output - HD" class="poster-image poster-image-portrait" border="0"></s72-image>
      
      <div class="hover">
        <div class="content">
          
          <s72-play-button data-slug="/bundle/88" title="DRM Test Content - Output - HD"></s72-play-button>
          <div class="buttons">
            
          </div>
          <div class="buttons">
            <s72-pricing-buttons data-slug="/bundle/88" class="pricing-buttons-fit" title="DRM Test Content - Output - HD"></s72-pricing-buttons>
          </div>
        </div>
      </div>
    </div>
  </a>
  
    <div class="caption">
      <div class="title" title="DRM Test Content - Output - HD">DRM Test Content - Output - HD</div>
      
  <div class="meta-item-tagline">
    
      <s72-classification-label data-slug="/bundle/88" data-layout="tooltip"></s72-classification-label>
    

    
    

    

    

    
      
  <span class="missing">
    
    <span class="item">
        6 items
      </span>
  </span>

      
    

    

    

    
  </div>

    </div>
  
</div>
