

<div class="partial partial-bundle">
  <a href="/bundle/j-bundle/" aria-label="J Bundle">
    <div class="poster poster-portrait">
      <s72-availability-status data-slug="/bundle/98"></s72-availability-status>
      <s72-availability-label data-slug="/bundle/98"></s72-availability-label>
      
        <s72-image src="https://d1ho4360zp6ihx.cloudfront.net/954e2/images/282x422/bundle/98/de4417d62b23a0616f2f4263775ed7b6.png" alt="J Bundle" class="poster-image poster-image-portrait" border="0"></s72-image>
      
      <div class="hover">
        <div class="content">
          
          <s72-play-button data-slug="/bundle/98" title="J Bundle"></s72-play-button>
          <div class="buttons">
            
          </div>
          <div class="buttons">
            <s72-pricing-buttons data-slug="/bundle/98" class="pricing-buttons-fit" title="J Bundle"></s72-pricing-buttons>
          </div>
        </div>
      </div>
    </div>
  </a>
  
    <div class="caption">
      <div class="title" title="J Bundle">J Bundle</div>
      
  <div class="meta-item-tagline">
    
      <s72-classification-label data-slug="/bundle/98" data-layout="tooltip"></s72-classification-label>
    

    
    

    

    

    
      
  <span class="missing">
    
    <span class="item">
        1 items
      </span>
  </span>

      
    

    

    

    
  </div>

    </div>
  
</div>
