<div class="partial partial-collection">
  <a href="/collection/home_page_slider/" class="meta-item-link" aria-label="Home Page Slider">

    
      <div class="poster poster-portrait">
      <s72-image src="/images/missing/collection-portrait.png" alt="Home Page Slider" class="poster-image poster-image-portrait" border="0"></s72-image>
    
      <div class="hover"></div>
    </div>
  </a>

  <div class="caption">
    <div class="title" title="Home Page Slider">Home Page Slider</div>
  </div>
</div>
