<div class="partial partial-collection">
  <a href="/collection/hope-and-wire-season-1/" class="meta-item-link" aria-label="Hope and Wire Season 1">

    
      <div class="poster poster-portrait">
      <s72-image src="/images/missing/collection-portrait.png" alt="Hope and Wire Season 1" class="poster-image poster-image-portrait" border="0"></s72-image>
    
      <div class="hover"></div>
    </div>
  </a>

  <div class="caption">
    <div class="title" title="Hope and Wire Season 1">Hope and Wire Season 1</div>
  </div>
</div>
