<div class="partial partial-collection">
  <a href="/collection/script/" class="meta-item-link" aria-label="!Script  &lt;script&gt;alert(Math.random() * 1000)&lt;/script&gt;">

    
      <div class="poster poster-portrait">
      <s72-image src="/images/missing/collection-portrait.png" alt="!Script  &lt;script&gt;alert(Math.random() * 1000)&lt;/script&gt;" class="poster-image poster-image-portrait" border="0"></s72-image>
    
      <div class="hover"></div>
    </div>
  </a>

  <div class="caption">
    <div class="title" title="!Script  &lt;script&gt;alert(Math.random() * 1000)&lt;/script&gt;">!Script  &lt;script&gt;alert(Math.random() * 1000)&lt;/script&gt;</div>
  </div>
</div>
