


  
  

  
  
  
  

  
  

  
  
  
  
  
    
  
  
  
  
  
  
  
  
  
  <div class="partial">
  
  <a href="/film/new-ingest-2020-9-7/" class="meta-item-link" aria-label="New Ingest 2020-9-7" target="">
    <div class="poster poster-portrait">
      <s72-availability-label data-slug="/film/1632"></s72-availability-label>
      <div class="poster-overlay poster-overlay-top">
        <s72-availability-status data-slug="/film/1632"></s72-availability-status>
        
  

      </div>

      <s72-image src="https://d1ho4360zp6ihx.cloudfront.net/954e2/images/282x422/film/1632/dfcbf4686ac83dd5097cd310ebf471e5.jpg" alt="New Ingest 2020-9-7" class="poster-image poster-image-portrait" border="0"></s72-image>
      
        <div class="hover">
          <div class="content">

            

            <div class="buttons">
              
                <s72-play-button data-slug="/film/1632" title="New Ingest 2020-9-7"></s72-play-button>
              

              
                <s72-pricing-buttons data-slug="/film/1632" class="pricing-buttons-fit" title="New Ingest 2020-9-7"></s72-pricing-buttons>
              

              
                <can-be-watched-button data-slug="/film/1632" data-url="" data-label="can_be_watched_button_text"></can-be-watched-button>
              
            </div>
          </div>
          <s72-userwishlist-button data-slug="/film/1632" class="btn-wishlist"></s72-userwishlist-button>
        </div>
      
    </div>
  </a>

  
    <div class="caption">
      <div class="title" title="New Ingest 2020-9-7">New Ingest 2020-9-7</div>
      
  <div class="meta-item-tagline">
    

    
    
      
        
      
    

    

    
      
  <span class="runtime">
    
    <span class="item">
        
        12m
      </span>
  </span>

      
    

    

    

    

    
      
  <span class="release-date">
    
      <span class="divider">•</span>
    
    <span class="item">
        2020
      </span>
  </span>

      
    
  </div>

    </div>
  

  
  </div>
  

