


  
  

  
  
  
  

  
  

  
  
  
  
  
    
  
  
  
  
  
  
  
  
  
  <div class="partial">
  
  <a href="/film/new-film/" class="meta-item-link" aria-label="New Film" target="">
    <div class="poster poster-portrait">
      <s72-availability-label data-slug="/film/195"></s72-availability-label>
      <div class="poster-overlay poster-overlay-top">
        <s72-availability-status data-slug="/film/195"></s72-availability-status>
        
  

      </div>

      <s72-image src="" alt="New Film" class="poster-image poster-image-portrait" border="0"></s72-image>
      
        <div class="hover">
          <div class="content">

            

            <div class="buttons">
              
                <s72-play-button data-slug="/film/195" title="New Film"></s72-play-button>
              

              
                <s72-pricing-buttons data-slug="/film/195" class="pricing-buttons-fit" title="New Film"></s72-pricing-buttons>
              

              
                <can-be-watched-button data-slug="/film/195" data-url="" data-label="can_be_watched_button_text"></can-be-watched-button>
              
            </div>
          </div>
          <s72-userwishlist-button data-slug="/film/195" class="btn-wishlist"></s72-userwishlist-button>
        </div>
      
    </div>
  </a>

  
    <div class="caption">
      <div class="title" title="New Film">New Film</div>
      
  <div class="meta-item-tagline">
    

    
    
      
        
      
    

    

    
      
  <span class="runtime">
    
    <span class="item">
        
        0m
      </span>
  </span>

      
    

    

    

    

    
  </div>

    </div>
  

  
  </div>
  

