


  
  

  
  
  
  

  
  

  
  
  
  
  
    
  
  
  
  
  
  
  
  
  
  <div class="partial">
  
  <a href="/film/fresh-prince/" class="meta-item-link" aria-label="Fresh Prince" target="">
    <div class="poster poster-portrait">
      <s72-availability-label data-slug="/film/1973"></s72-availability-label>
      <div class="poster-overlay poster-overlay-top">
        <s72-availability-status data-slug="/film/1973"></s72-availability-status>
        
  

      </div>

      <s72-image src="https://d1ho4360zp6ihx.cloudfront.net/954e2/images/70x150/film/1973/f0330b3b864048dcc8e014213109c094.jpg" alt="Fresh Prince" class="poster-image poster-image-portrait" border="0"></s72-image>
      
        <div class="hover">
          <div class="content">

            

            <div class="buttons">
              
                <s72-play-button data-slug="/film/1973" title="Fresh Prince"></s72-play-button>
              

              
                <s72-pricing-buttons data-slug="/film/1973" class="pricing-buttons-fit" title="Fresh Prince"></s72-pricing-buttons>
              

              
                <can-be-watched-button data-slug="/film/1973" data-url="" data-label="can_be_watched_button_text"></can-be-watched-button>
              
            </div>
          </div>
          <s72-userwishlist-button data-slug="/film/1973" class="btn-wishlist"></s72-userwishlist-button>
        </div>
      
    </div>
  </a>

  
    <div class="caption">
      <div class="title" title="Fresh Prince">Fresh Prince</div>
      
  <div class="meta-item-tagline">
    

    
    
      
        
      
    

    

    
      
  <span class="runtime">
    
    <span class="item">
        
          16h
        
        40m
      </span>
  </span>

      
    

    

    

    
      
      
  <span class="genres">
    
      <span class="divider">•</span>
    
    <span class="item">
        Comedy
      </span>
  </span>

      
    

    
      
  <span class="release-date">
    
      <span class="divider">•</span>
    
    <span class="item">
        1990
      </span>
  </span>

      
    
  </div>

    </div>
  

  
  </div>
  

