


  
  

  
  
  
  

  
  

  
  
  
  
  
    
  
  
  
  
  
  
  
  
  
  <div class="partial">
  
  <a href="/film/bohemian-rhapsody/" class="meta-item-link" aria-label="Bohemian Rhapsody" target="">
    <div class="poster poster-portrait">
      <s72-availability-label data-slug="/film/2398"></s72-availability-label>
      <div class="poster-overlay poster-overlay-top">
        <s72-availability-status data-slug="/film/2398"></s72-availability-status>
        
  

      </div>

      <s72-image src="https://d1ho4360zp6ihx.cloudfront.net/954e2/images/282x422/film/2398/2b9f179a0cd5880bef4e91cf794d2c55.jpg" alt="Bohemian Rhapsody" class="poster-image poster-image-portrait" border="0"></s72-image>
      
        <div class="hover">
          <div class="content">

            

            <div class="buttons">
              
                <s72-play-button data-slug="/film/2398" title="Bohemian Rhapsody"></s72-play-button>
              

              
                <s72-pricing-buttons data-slug="/film/2398" class="pricing-buttons-fit" title="Bohemian Rhapsody"></s72-pricing-buttons>
              

              
                <can-be-watched-button data-slug="/film/2398" data-url="" data-label="can_be_watched_button_text"></can-be-watched-button>
              
            </div>
          </div>
          <s72-userwishlist-button data-slug="/film/2398" class="btn-wishlist"></s72-userwishlist-button>
        </div>
      
    </div>
  </a>

  
    <div class="caption">
      <div class="title" title="Bohemian Rhapsody">Bohemian Rhapsody</div>
      
  <div class="meta-item-tagline">
    

    
    
      
        
      
    

    

    
      
  <span class="runtime">
    
    <span class="item">
        
          2h
        
        14m
      </span>
  </span>

      
    

    

    

    
      
      
  <span class="genres">
    
      <span class="divider">•</span>
    
    <span class="item">
        Biography, Drama, Musical
      </span>
  </span>

      
    

    
      
  <span class="release-date">
    
      <span class="divider">•</span>
    
    <span class="item">
        2018
      </span>
  </span>

      
    
  </div>

    </div>
  

  
  </div>
  

