


  
  

  
  
  
  

  
  

  
  
  
  
  
    
  
  
  
  
  
  
  
  
  
  <div class="partial">
  
  <a href="/film/crimson-peak/" class="meta-item-link" aria-label="Crimson Peak" target="">
    <div class="poster poster-portrait">
      <s72-availability-label data-slug="/film/2477"></s72-availability-label>
      <div class="poster-overlay poster-overlay-top">
        <s72-availability-status data-slug="/film/2477"></s72-availability-status>
        
  

      </div>

      <s72-image src="https://d1ho4360zp6ihx.cloudfront.net/954e2/images/282x422/film/2477/01dca6d458ba84f66a9fa82940bfc2fe.png" alt="Crimson Peak" class="poster-image poster-image-portrait" border="0"></s72-image>
      
        <div class="hover">
          <div class="content">

            

            <div class="buttons">
              
                <s72-play-button data-slug="/film/2477" title="Crimson Peak"></s72-play-button>
              

              
                <s72-pricing-buttons data-slug="/film/2477" class="pricing-buttons-fit" title="Crimson Peak"></s72-pricing-buttons>
              

              
                <can-be-watched-button data-slug="/film/2477" data-url="https://youtu.be/EpXMJ3wo0kI" data-label="Join the Party!"></can-be-watched-button>
              
            </div>
          </div>
          <s72-userwishlist-button data-slug="/film/2477" class="btn-wishlist"></s72-userwishlist-button>
        </div>
      
    </div>
  </a>

  
    <div class="caption">
      <div class="title" title="Crimson Peak">Crimson Peak</div>
      
  <div class="meta-item-tagline">
    

    
    
      
        
      
    

    

    
      
  <span class="runtime">
    
    <span class="item">
        
          1h
        
        59m
      </span>
  </span>

      
    

    

    

    
      
        
      
      
  <span class="genres">
    
      <span class="divider">•</span>
    
    <span class="item">
        Biography, Drama, Fantasy
      </span>
  </span>

      
    

    
      
  <span class="release-date">
    
      <span class="divider">•</span>
    
    <span class="item">
        2015
      </span>
  </span>

      
    
  </div>

    </div>
  

  
  </div>
  

