


  
  

  
  
  
  

  
  

  
  
  
  
  
    
  
  
  
  
  
  
  
  
  
  <div class="partial">
  
  <a href="/film/drm-example-film-standard-mp4box/" class="meta-item-link" aria-label="DRM Example Film - Standard MP4Box" target="">
    <div class="poster poster-portrait">
      <s72-availability-label data-slug="/film/2622"></s72-availability-label>
      <div class="poster-overlay poster-overlay-top">
        <s72-availability-status data-slug="/film/2622"></s72-availability-status>
        
  

      </div>

      <s72-image src="https://d1ho4360zp6ihx.cloudfront.net/954e2/images/484x844/film/2622/e7b0ac98b7f31255053f4c90013ceb92.png" alt="DRM Example Film - Standard MP4Box" class="poster-image poster-image-portrait" border="0"></s72-image>
      
        <div class="hover">
          <div class="content">

            

            <div class="buttons">
              
                <s72-play-button data-slug="/film/2622" title="DRM Example Film - Standard MP4Box"></s72-play-button>
              

              
                <s72-pricing-buttons data-slug="/film/2622" class="pricing-buttons-fit" title="DRM Example Film - Standard MP4Box"></s72-pricing-buttons>
              

              
                <can-be-watched-button data-slug="/film/2622" data-url="" data-label="can_be_watched_button_text"></can-be-watched-button>
              
            </div>
          </div>
          <s72-userwishlist-button data-slug="/film/2622" class="btn-wishlist"></s72-userwishlist-button>
        </div>
      
    </div>
  </a>

  
    <div class="caption">
      <div class="title" title="DRM Example Film - Standard MP4Box">DRM Example Film - Standard MP4Box</div>
      
  <div class="meta-item-tagline">
    

    
    
      
        
      
    

    

    
      
  <span class="runtime">
    
    <span class="item">
        
        0m
      </span>
  </span>

      
    

    

    

    

    
  </div>

    </div>
  

  
  </div>
  

