


  
  

  
  
  
  

  
  

  
  
  
  
  
    
  
  
  
  
  
  
  
  
  
  <div class="partial">
  
  <a href="/film/drm-example-film-studio2-mp4box-sd/" class="meta-item-link" aria-label="DRM Example Film - Studio2 MP4Box SD" target="">
    <div class="poster poster-portrait">
      <s72-availability-label data-slug="/film/2642"></s72-availability-label>
      <div class="poster-overlay poster-overlay-top">
        <s72-availability-status data-slug="/film/2642"></s72-availability-status>
        
  

      </div>

      <s72-image src="https://d1ho4360zp6ihx.cloudfront.net/954e2/images/484x844/film/2642/950b1680efaac4e14b80bf7f6807a94d.png" alt="DRM Example Film - Studio2 MP4Box SD" class="poster-image poster-image-portrait" border="0"></s72-image>
      
        <div class="hover">
          <div class="content">

            

            <div class="buttons">
              
                <s72-play-button data-slug="/film/2642" title="DRM Example Film - Studio2 MP4Box SD"></s72-play-button>
              

              
                <s72-pricing-buttons data-slug="/film/2642" class="pricing-buttons-fit" title="DRM Example Film - Studio2 MP4Box SD"></s72-pricing-buttons>
              

              
                <can-be-watched-button data-slug="/film/2642" data-url="" data-label="can_be_watched_button_text"></can-be-watched-button>
              
            </div>
          </div>
          <s72-userwishlist-button data-slug="/film/2642" class="btn-wishlist"></s72-userwishlist-button>
        </div>
      
    </div>
  </a>

  
    <div class="caption">
      <div class="title" title="DRM Example Film - Studio2 MP4Box SD">DRM Example Film - Studio2 MP4Box SD</div>
      
  <div class="meta-item-tagline">
    

    
    
      
        
      
    

    

    
      
  <span class="runtime">
    
    <span class="item">
        
        0m
      </span>
  </span>

      
    

    

    

    

    
  </div>

    </div>
  

  
  </div>
  

