


  
  

  
  
  
  

  
  

  
  
  
  
  
    
  
  
  
  
  
  
  
  
  
  <div class="partial">
  
  <a href="/film/rpm_store-film-6/" class="meta-item-link" aria-label="RPM_Store Film 6" target="">
    <div class="poster poster-portrait">
      <s72-availability-label data-slug="/film/2850"></s72-availability-label>
      <div class="poster-overlay poster-overlay-top">
        <s72-availability-status data-slug="/film/2850"></s72-availability-status>
        
  

      </div>

      <s72-image src="https://d1ho4360zp6ihx.cloudfront.net/954e2/images/282x422/film/2850/f5eecb427fc315466c903fe50b156127.png" alt="RPM_Store Film 6" class="poster-image poster-image-portrait" border="0"></s72-image>
      
        <div class="hover">
          <div class="content">

            

            <div class="buttons">
              
                <s72-play-button data-slug="/film/2850" title="RPM_Store Film 6"></s72-play-button>
              

              
                <s72-pricing-buttons data-slug="/film/2850" class="pricing-buttons-fit" title="RPM_Store Film 6"></s72-pricing-buttons>
              

              
                <can-be-watched-button data-slug="/film/2850" data-url="" data-label="can_be_watched_button_text"></can-be-watched-button>
              
            </div>
          </div>
          <s72-userwishlist-button data-slug="/film/2850" class="btn-wishlist"></s72-userwishlist-button>
        </div>
      
    </div>
  </a>

  
    <div class="caption">
      <div class="title" title="RPM_Store Film 6">RPM_Store Film 6</div>
      
  <div class="meta-item-tagline">
    

    
    
      
        
      
    

    

    
      
  <span class="runtime">
    
    <span class="item">
        
          2h
        
        0m
      </span>
  </span>

      
    

    

    

    
      
      
  <span class="genres">
    
      <span class="divider">•</span>
    
    <span class="item">
        Gory
      </span>
  </span>

      
    

    
      
  <span class="release-date">
    
      <span class="divider">•</span>
    
    <span class="item">
        2022
      </span>
  </span>

      
    
  </div>

    </div>
  

  
  </div>
  

