


  
  

  
  
  
  

  
  

  
  
  
  
  
    
  
  
  
  
  
  
  
  
  
  <div class="partial">
  
  <a href="/film/sam-uploader-test/" class="meta-item-link" aria-label="Sam Uploader Test" target="">
    <div class="poster poster-portrait">
      <s72-availability-label data-slug="/film/2871"></s72-availability-label>
      <div class="poster-overlay poster-overlay-top">
        <s72-availability-status data-slug="/film/2871"></s72-availability-status>
        
  

      </div>

      <s72-image src="https://d1ho4360zp6ihx.cloudfront.net/954e2/images/484x844/film/2871/fa3094d6e741f71f55fa3c66ca6224da.png" alt="Sam Uploader Test" class="poster-image poster-image-portrait" border="0"></s72-image>
      
        <div class="hover">
          <div class="content">

            

            <div class="buttons">
              
                <s72-play-button data-slug="/film/2871" title="Sam Uploader Test"></s72-play-button>
              

              
                <s72-pricing-buttons data-slug="/film/2871" class="pricing-buttons-fit" title="Sam Uploader Test"></s72-pricing-buttons>
              

              
                <can-be-watched-button data-slug="/film/2871" data-url="" data-label="can_be_watched_button_text"></can-be-watched-button>
              
            </div>
          </div>
          <s72-userwishlist-button data-slug="/film/2871" class="btn-wishlist"></s72-userwishlist-button>
        </div>
      
    </div>
  </a>

  
    <div class="caption">
      <div class="title" title="Sam Uploader Test">Sam Uploader Test</div>
      
  <div class="meta-item-tagline">
    

    
    
      
        
      
    

    

    
      
  <span class="runtime">
    
    <span class="item">
        
        0m
      </span>
  </span>

      
    

    

    

    

    
  </div>

    </div>
  

  
  </div>
  

