


  
  

  
  
  
  

  
  

  
  
  
  
  
    
  
  
  
  
  
  
  
  
  
  <div class="partial">
  
  <a href="/film/j-test-film/" class="meta-item-link" aria-label="J Test Film" target="">
    <div class="poster poster-portrait">
      <s72-availability-label data-slug="/film/2955"></s72-availability-label>
      <div class="poster-overlay poster-overlay-top">
        <s72-availability-status data-slug="/film/2955"></s72-availability-status>
        
  

      </div>

      <s72-image src="https://d1ho4360zp6ihx.cloudfront.net/954e2/images/282x422/film/2955/4b18f53f357d2ef17dc7714b40ef6de8.png" alt="J Test Film" class="poster-image poster-image-portrait" border="0"></s72-image>
      
        <div class="hover">
          <div class="content">

            

            <div class="buttons">
              
                <s72-play-button data-slug="/film/2955" title="J Test Film"></s72-play-button>
              

              
                <s72-pricing-buttons data-slug="/film/2955" class="pricing-buttons-fit" title="J Test Film"></s72-pricing-buttons>
              

              
                <can-be-watched-button data-slug="/film/2955" data-url="" data-label="can_be_watched_button_text"></can-be-watched-button>
              
            </div>
          </div>
          <s72-userwishlist-button data-slug="/film/2955" class="btn-wishlist"></s72-userwishlist-button>
        </div>
      
    </div>
  </a>

  
    <div class="caption">
      <div class="title" title="J Test Film">J Test Film</div>
      
  <div class="meta-item-tagline">
    

    
    
      
        
      
    

    

    
      
  <span class="runtime">
    
    <span class="item">
        
        0m
      </span>
  </span>

      
    

    

    

    

    
  </div>

    </div>
  

  
  </div>
  

