


  
  

  
  
  
  

  
  

  
  
  
  
  
    
  
  
  
  
  
  
  
  
  
  <div class="partial">
  
  <a href="/film/im-1-23-0-ken-3-5-2-v3-forensic/" class="meta-item-link" aria-label="IM 1.23.0, Ken 3.5.2 - V3 forensic" target="">
    <div class="poster poster-portrait">
      <s72-availability-label data-slug="/film/2990"></s72-availability-label>
      <div class="poster-overlay poster-overlay-top">
        <s72-availability-status data-slug="/film/2990"></s72-availability-status>
        
  

      </div>

      <s72-image src="https://d1ho4360zp6ihx.cloudfront.net/954e2/images/484x844/film/2990/d1feab16b864facf320983f85045592a.jpg" alt="IM 1.23.0, Ken 3.5.2 - V3 forensic" class="poster-image poster-image-portrait" border="0"></s72-image>
      
        <div class="hover">
          <div class="content">

            

            <div class="buttons">
              
                <s72-play-button data-slug="/film/2990" title="IM 1.23.0, Ken 3.5.2 - V3 forensic"></s72-play-button>
              

              
                <s72-pricing-buttons data-slug="/film/2990" class="pricing-buttons-fit" title="IM 1.23.0, Ken 3.5.2 - V3 forensic"></s72-pricing-buttons>
              

              
                <can-be-watched-button data-slug="/film/2990" data-url="" data-label="can_be_watched_button_text"></can-be-watched-button>
              
            </div>
          </div>
          <s72-userwishlist-button data-slug="/film/2990" class="btn-wishlist"></s72-userwishlist-button>
        </div>
      
    </div>
  </a>

  
    <div class="caption">
      <div class="title" title="IM 1.23.0, Ken 3.5.2 - V3 forensic">IM 1.23.0, Ken 3.5.2 - V3 forensic</div>
      
  <div class="meta-item-tagline">
    

    
    
      
        
      
    

    

    
      
  <span class="runtime">
    
    <span class="item">
        
          1h
        
        51m
      </span>
  </span>

      
    

    

    

    
      
      
  <span class="genres">
    
      <span class="divider">•</span>
    
    <span class="item">
        Children’s
      </span>
  </span>

      
    

    
      
  <span class="release-date">
    
      <span class="divider">•</span>
    
    <span class="item">
        1980
      </span>
  </span>

      
    
  </div>

    </div>
  

  
  </div>
  

