


  
  

  
  
  
  

  
  

  
  
  
  
  
    
  
  
  
  
  
  
  
  
  
  <div class="partial">
  
  <a href="/film/meta-the-movie/" class="meta-item-link" aria-label="Meta: The Movie" target="">
    <div class="poster poster-portrait">
      <s72-availability-label data-slug="/film/3065"></s72-availability-label>
      <div class="poster-overlay poster-overlay-top">
        <s72-availability-status data-slug="/film/3065"></s72-availability-status>
        
  
    <div class="meta-awards-icon-overlay">
      <i class="meta-award-nomination-icon"></i>
    </div>
  

      </div>

      <s72-image src="https://d1ho4360zp6ihx.cloudfront.net/954e2/images/484x844/film/3065/8f4eec36656419a97ff7d32e77d9347c.png" alt="Meta: The Movie" class="poster-image poster-image-portrait" border="0"></s72-image>
      
        <div class="hover">
          <div class="content">

            

            <div class="buttons">
              
                <s72-play-button data-slug="/film/3065" title="Meta: The Movie"></s72-play-button>
              

              
                <s72-pricing-buttons data-slug="/film/3065" class="pricing-buttons-fit" title="Meta: The Movie"></s72-pricing-buttons>
              

              
                <can-be-watched-button data-slug="/film/3065" data-url="" data-label="can_be_watched_button_text"></can-be-watched-button>
              
            </div>
          </div>
          <s72-userwishlist-button data-slug="/film/3065" class="btn-wishlist"></s72-userwishlist-button>
        </div>
      
    </div>
  </a>

  
    <div class="caption">
      <div class="title" title="Meta: The Movie">Meta: The Movie</div>
      
  <div class="meta-item-tagline">
    

    
    
      
        
      
    

    

    
      
  <span class="runtime">
    
    <span class="item">
        
        47m
      </span>
  </span>

      
    

    

    

    
      
      
  <span class="genres">
    
      <span class="divider">•</span>
    
    <span class="item">
        Romance, Horror, Cooking Show
      </span>
  </span>

      
    

    
      
  <span class="release-date">
    
      <span class="divider">•</span>
    
    <span class="item">
        2011
      </span>
  </span>

      
    
  </div>

    </div>
  

  
  </div>
  

