


  
  

  
  
  
  

  
  

  
  
  
  
  
    
  
  
  
  
  
  
  
  
  
  <div class="partial">
  
  <a href="/film/multi-audio-adi/" class="meta-item-link" aria-label="Multi Audio (Adi)" target="">
    <div class="poster poster-portrait">
      <s72-availability-label data-slug="/film/3075"></s72-availability-label>
      <div class="poster-overlay poster-overlay-top">
        <s72-availability-status data-slug="/film/3075"></s72-availability-status>
        
  

      </div>

      <s72-image src="https://d1ho4360zp6ihx.cloudfront.net/954e2/images/282x422/film/3075/f034b5cf5131da40bccd8158cdc7c1c9.jpg" alt="Multi Audio (Adi)" class="poster-image poster-image-portrait" border="0"></s72-image>
      
        <div class="hover">
          <div class="content">

            

            <div class="buttons">
              
                <s72-play-button data-slug="/film/3075" title="Multi Audio (Adi)"></s72-play-button>
              

              
                <s72-pricing-buttons data-slug="/film/3075" class="pricing-buttons-fit" title="Multi Audio (Adi)"></s72-pricing-buttons>
              

              
                <can-be-watched-button data-slug="/film/3075" data-url="" data-label="can_be_watched_button_text"></can-be-watched-button>
              
            </div>
          </div>
          <s72-userwishlist-button data-slug="/film/3075" class="btn-wishlist"></s72-userwishlist-button>
        </div>
      
    </div>
  </a>

  
    <div class="caption">
      <div class="title" title="Multi Audio (Adi)">Multi Audio (Adi)</div>
      
  <div class="meta-item-tagline">
    

    
    
      
        
      
    

    

    
      
  <span class="runtime">
    
    <span class="item">
        
        10m
      </span>
  </span>

      
    

    

    

    
      
      
  <span class="genres">
    
      <span class="divider">•</span>
    
    <span class="item">
        Adventure
      </span>
  </span>

      
    

    
      
  <span class="release-date">
    
      <span class="divider">•</span>
    
    <span class="item">
        2021
      </span>
  </span>

      
    
  </div>

    </div>
  

  
  </div>
  

