


  
  

  
  
  
  

  
  

  
  
  
  
  
    
  
  
  
  
  
  
  
  
  
  <div class="partial">
  
  <a href="/film/clints-live-car-vroom/" class="meta-item-link" aria-label="Clint&#39;s Live Car Vroom 𓂸" target="">
    <div class="poster poster-portrait">
      <s72-availability-label data-slug="/film/3112"></s72-availability-label>
      <div class="poster-overlay poster-overlay-top">
        <s72-availability-status data-slug="/film/3112"></s72-availability-status>
        
  

      </div>

      <s72-image src="https://d1ho4360zp6ihx.cloudfront.net/954e2/images/484x844/film/3112/feb2f992fddcc509b838318972af95be.jpg" alt="Clint&#39;s Live Car Vroom 𓂸" class="poster-image poster-image-portrait" border="0"></s72-image>
      
        <div class="hover">
          <div class="content">

            

            <div class="buttons">
              
                <s72-play-button data-slug="/film/3112" title="Clint&#39;s Live Car Vroom 𓂸"></s72-play-button>
              

              
                <s72-pricing-buttons data-slug="/film/3112" class="pricing-buttons-fit" title="Clint&#39;s Live Car Vroom 𓂸"></s72-pricing-buttons>
              

              
                <can-be-watched-button data-slug="/film/3112" data-url="" data-label="can_be_watched_button_text"></can-be-watched-button>
              
            </div>
          </div>
          <s72-userwishlist-button data-slug="/film/3112" class="btn-wishlist"></s72-userwishlist-button>
        </div>
      
    </div>
  </a>

  
    <div class="caption">
      <div class="title" title="Clint&#39;s Live Car Vroom 𓂸">Clint&#39;s Live Car Vroom 𓂸</div>
      
  <div class="meta-item-tagline">
    

    
    
      
        
      
    

    

    
      
  <span class="runtime">
    
    <span class="item">
        
          5h
        
        0m
      </span>
  </span>

      
    

    

    

    
      
      
  <span class="genres">
    
      <span class="divider">•</span>
    
    <span class="item">
        Action
      </span>
  </span>

      
    

    
      
  <span class="release-date">
    
      <span class="divider">•</span>
    
    <span class="item">
        2008
      </span>
  </span>

      
    
  </div>

    </div>
  

  
  </div>
  

