


  
  

  
  
  
  

  
  

  
  
  
  
  
    
  
  
  
  
  
  
  
  
  
  <div class="partial">
  
  <a href="/film/july2017/" class="meta-item-link" aria-label="July2017" target="">
    <div class="poster poster-portrait">
      <s72-availability-label data-slug="/film/419"></s72-availability-label>
      <div class="poster-overlay poster-overlay-top">
        <s72-availability-status data-slug="/film/419"></s72-availability-status>
        
  

      </div>

      <s72-image src="https://d1ho4360zp6ihx.cloudfront.net/954e2/images/282x422/film/419/b25840e7a067cdff8ce21f47e54e086b.jpg" alt="July2017" class="poster-image poster-image-portrait" border="0"></s72-image>
      
        <div class="hover">
          <div class="content">

            

            <div class="buttons">
              
                <s72-play-button data-slug="/film/419" title="July2017"></s72-play-button>
              

              
                <s72-pricing-buttons data-slug="/film/419" class="pricing-buttons-fit" title="July2017"></s72-pricing-buttons>
              

              
                <can-be-watched-button data-slug="/film/419" data-url="" data-label="can_be_watched_button_text"></can-be-watched-button>
              
            </div>
          </div>
          <s72-userwishlist-button data-slug="/film/419" class="btn-wishlist"></s72-userwishlist-button>
        </div>
      
    </div>
  </a>

  
    <div class="caption">
      <div class="title" title="July2017">July2017</div>
      
  <div class="meta-item-tagline">
    

    
    
      
        
      
    

    

    
      
  <span class="runtime">
    
    <span class="item">
        
          1h
        
        28m
      </span>
  </span>

      
    

    

    

    
      
      
  <span class="genres">
    
      <span class="divider">•</span>
    
    <span class="item">
        Action
      </span>
  </span>

      
    

    
      
  <span class="release-date">
    
      <span class="divider">•</span>
    
    <span class="item">
        2000
      </span>
  </span>

      
    
  </div>

    </div>
  

  
  </div>
  

