


  
  

  
  
  
  

  
  

  
  
  
  
  
    
  
  
  
  
  
  
  
  
  
  <div class="partial">
  
  <a href="/film/the-navigator-a-medieval-odyssey/" class="meta-item-link" aria-label="The Navigator: A Medieval Odyssey" target="">
    <div class="poster poster-portrait">
      <s72-availability-label data-slug="/film/42"></s72-availability-label>
      <div class="poster-overlay poster-overlay-top">
        <s72-availability-status data-slug="/film/42"></s72-availability-status>
        
  

      </div>

      <s72-image src="https://d1ho4360zp6ihx.cloudfront.net/954e2/images/282x422/film/42/index.jpg" alt="The Navigator: A Medieval Odyssey" class="poster-image poster-image-portrait" border="0"></s72-image>
      
        <div class="hover">
          <div class="content">

            

            <div class="buttons">
              
                <s72-play-button data-slug="/film/42" title="The Navigator: A Medieval Odyssey"></s72-play-button>
              

              
                <s72-pricing-buttons data-slug="/film/42" class="pricing-buttons-fit" title="The Navigator: A Medieval Odyssey"></s72-pricing-buttons>
              

              
                <can-be-watched-button data-slug="/film/42" data-url="" data-label="can_be_watched_button_text"></can-be-watched-button>
              
            </div>
          </div>
          <s72-userwishlist-button data-slug="/film/42" class="btn-wishlist"></s72-userwishlist-button>
        </div>
      
    </div>
  </a>

  
    <div class="caption">
      <div class="title" title="The Navigator: A Medieval Odyssey">The Navigator: A Medieval Odyssey</div>
      
  <div class="meta-item-tagline">
    

    
    
      
        
      
    

    

    
      
  <span class="runtime">
    
    <span class="item">
        
          1h
        
        30m
      </span>
  </span>

      
    

    

    

    
      
        
      
      
  <span class="genres">
    
      <span class="divider">•</span>
    
    <span class="item">
        Science Fiction, Fantasy, Adventure
      </span>
  </span>

      
    

    
      
  <span class="release-date">
    
      <span class="divider">•</span>
    
    <span class="item">
        1988
      </span>
  </span>

      
    
  </div>

    </div>
  

  
  </div>
  

