.meta-awards {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .mt-1;
  color: var(--body-color);
  margin-left: -25px;
  margin-right: -25px;

  &.meta-awards-all {
    @extend .align-items-start;
  }

  .meta-award-nomination {
    @extend .d-flex;
    max-width: 370px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .meta-award-nomination-icon {
    @extend .fa;
    @extend .fa-star; // for now

    font-size: 1.25rem;
    line-height: 1.5rem;
    padding-right: 0.5rem;
  }
}

.meta-awards-icon-overlay {
  @extend .text-center;

  background: rgba(0, 0, 0, 0.8);
  border-radius: $meta-item-border-radius;
  height: 16px + (3px * 2);
  padding-left: 3px;
  padding-right: 3px;
  width: 16px + (3px * 2);

  .meta-award-nomination-icon {
    @extend .fa;
    @extend .fa-star;

    font-size: 1rem;
  }
}
