.meta-awards {
  @extend .d-flex;
  @extend .align-items-center;

  &.meta-awards-all {
    @extend .align-items-start;
  }

  .meta-award-nomination {
    @extend .d-flex;
  }

  .meta-award-nomination-icon {
    @extend .fa;
    @extend .fa-star-o;
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding-right: .5rem;
  }
}

.meta-awards-icon-overlay {
  @extend .text-center;

  border-radius: $meta-item-border-radius;
  background: rgba(0, 0, 0, 0.8);

  padding-right: 3px;
  padding-left: 3px;
  width: 16px + (3px * 2);
  height: 16px + (3px * 2);

  .meta-award-nomination-icon {
    @extend .fa;
    @extend .fa-star;

    font-size: 1rem;
  }
}