.btn {
  border-radius: 4px;
  font-family: $font-family-base;
}

.btn-primary {
  background-color: $button-background;
  color: $button-text-color;
  font-weight: $font-weight-normal;
  @include hover-focus {
    background-color: $button-background-hover;
    border-color: $button-background-hover;
    color: $button-text-color-hover;
  }
}

.btn.btn-signin {
  align-items: center;
  background-color: var(--signin-background);
  border: 3px solid var(--signin-border-color);
  color: var(--signin-text-color);
  display: flex;
  font-size: 14px;
  justify-content: center;

  @include hover-focus {
    background: var(--signin-background-hover);
    border: 3px solid var(--signin-border-color-hover);
  }

  @include media-breakpoint-up(lg) {
    background-color: var(--signin-background-lg);

    @include hover-focus {
      background: var(--signin-background-hover-lg);
      color: var(--signin-text-color-hover);
    }
  }

  @include media-breakpoint-up(xl) {
    font-size: 16px;
  }
}
// OAuth
.s72-oauth-buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin-top: 10px;

  .btn-sso {
    background-color: var(--signin-sso-btn-background-color);
    color: var(--signin-sso-btn-text-color);
    &:hover,
    &:focus {
      background-color: var(--signin-sso-btn-background-hover-color);
      color: var(--signin-sso-btn-text-hover-color);
    }
  }
}

.s72-btn.s72-btn-block {
  @extend .btn-block;
}

.btn.btn-signin-primary,
.btn.btn-signup {
  align-items: center;
  background-color: $signup-background;
  border: 3px solid $signup-border-color;
  color: $signup-text-color;
  display: flex;
  font-size: 14px;
  justify-content: center;
  margin-left: 12px;
  white-space: initial;
  @include media-breakpoint-up(xl) {
    font-size: 16px;
  }
  @include hover-focus {
    background-color: $signup-background-hover;
    color: $signup-text-color-hover;
  }
}

.s72-btn-play {
  @extend .d-flex;
  align-items: center;
  background: $button-background;
  border: 3px solid $button-background;
  justify-content: center;
  @include hover-focus {
    background: $button-background-hover;
    border: 3px solid $button-background-hover;

    .s72-icon-play {
      circle {
        fill: none;
        stroke: none;
      }

      path {
        fill: $button-text-color-hover;
        stroke: $button-text-color-hover;
      }
    }

    .s72-btn-play-label {
      color: $button-text-color-hover;
    }
  }

  .s72-icon-play {
    circle {
      fill: none;
      stroke: none;
    }

    path {
      fill: $button-text-color;
      stroke: $button-text-color;
    }
  }

  .verb {
    color: $button-text-color;
    font-size: 18px;
    font-weight: $font-weight-normal;
  }
}

.s72-btn-rent,
.s72-btn-purchase,
.s72-btn-subscribe,
.s72-btn-purchase-option {
  background: $button-background;
  border: 3px solid $button-background;
  min-width: 140px;
  @include hover-focus {
    background: $button-background-hover;
    border-color: $button-background-hover;
    color: $button-text-color-hover;
  }

  .verb {
    font-weight: $font-weight-normal;
  }

  .price {
    font-weight: $font-weight-normal;
  }
}

.s72-purchase-option.rent-or-buy {
  .s72-purchase-option-buttons {
    @include media-breakpoint-up(md) {
      flex-wrap: nowrap;
    }
  }

  .s72-btn-purchase-option {
    background: transparent;
    color: var(--body-color);
    margin-bottom: 10px;

    @include hover-focus {
      background: $button-background-hover;
      border-color: $button-background-hover;
      color: $button-text-color-hover;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      margin-right: 10px;
    }

    &:last-child {
      margin-bottom: 0;
      margin-right: 0;
    }
  }
}

.s72-btn.s72-btn-unsubscribe,
.s72-btn.s72-btn-updatecreditcard {
  @extend .btn-secondary;
}

.s72-btn.s72-btn-explore-subs {
  @extend .btn-primary;
}

.btn-block .s72-btn {
  @extend .btn-block;
}

.btn-light {
  background-color: $gray-300;
  border-color: $gray-300;
  @include hover-focus {
    background-color: $gray-200;
    border-color: $gray-200;
  }
}

s72-donate-button:not(:empty) {
  :hover {
    background-color: $button-background-hover;
  }
  &:hover a {
    background-color: $button-background-hover;
    color: $button-text-color-hover;
    /* stylelint-disable selector-max-compound-selectors */
    svg {
      g {
        fill: $button-text-color-hover;
      }
    }
    /* stylelint-enable selector-max-compound-selectors */
  }
  a {
    background-color: $button-background;
    color: $button-text-color;
  }
  svg {
    g {
      fill: $button-text-color;
    }
  }
}

// sitewide we changed primary btn text to black, but these btns had no bg color, rendering text invisible
.s72-btn-show-saved-cards,
.s72-btn-submit-pin,
.s72-btn-reset-pin {
  color: var(--link-color) !important;
}

// Empty relish components sometimes have structural CSS so hide them.
s72-play-button,
can-be-watched-button,
s72-userwishlist-button {
  &:empty {
    display: none;
  }
}

.extra-buttons {
  > * {
    &:hover {
      background-color: var(--hover-background);
      border-radius: 999em;
    }
  }

  .s72-btn-trailer,
  s72-share-modal .s72-btn,
  .s72-btn-wishlist {
    height: 42px;
    padding: 0;
    width: 42px;
    &:hover {
      color: var(--body-color-hover);
    }

    /* stylelint-disable selector-max-compound-selectors, max-nesting-depth */
    i {
      margin: 0;
    }
    /* stylelint-enable selector-max-compound-selectors, max-nesting-depth */
  }
}
