.btn {
  font-family: $font-family-base;
  border-radius: 4px;
}
// Default Action for Buttons

// Primary Button
.btn-primary {
  color: $button-text-color;
  background-color: $button-background;
  font-weight: $font-weight-bold;
  @include hover-focus {
    color: $button-text-color-hover;
    border-color: $button-background-hover;
    background-color: $button-background-hover;
  }
}
// Sign In Button
.btn.btn-signin {
  font-size: 14px;
  color: $signin-text-color;
  border: 3px solid $signin-border-color;
  background-color: $signin-background;
  margin-right: 10px;
  @include media-breakpoint-up(xl) {
    font-size: 16px;
  }
  @include hover-focus {
    color: $signin-text-color-hover;
    border: 3px solid $signin-border-color-hover;
    background: $signin-background-hover;
    text-decoration: underline;
  }
}
// Sign Up Button
.btn.btn-signup {
  font-size: 14px;
  color: $signup-text-color;
  border: 3px solid $signup-border-color;
  background-color: $signup-background; 
  white-space: initial;
  @include media-breakpoint-up(xl) {
    font-size: 16px;
  }
  @include hover-focus {
    color: $signup-text-color-hover;
    background-color: $signup-background-hover;
  }
}

// Transactional Buttons
.s72-btn-rent,
.s72-btn-purchase {
  background: $button-background;
  border: 3px solid $button-background;
  @include hover-focus {
    color: $button-text-color-hover;
    background: $button-background-hover;
    border-color: $button-background-hover;
  }
  .verb {
    font-weight: $font-weight-bold;
  }
  .price {
    font-weight: $font-weight-bold;
  }
}

s72-play-button {
  button {
    @extend .w-100;
  }
}

.s72-btn-purchase {

}

.meta-detail-buttons .s72-pricing-button-container {
  @extend .d-flex;
  @extend .flex-column;
  @extend .flex-sm-row;
}

.meta-detail-extras .s72-btn {
  &:hover {
      opacity: .8;
  }

  .fa:before {
    font-size: 18px;
  }
}

.s72-btn:disabled {
  position: relative;
  .s72-icon-loading {
    position: absolute;
    left: 0;
  }
}