.s72-btn-can-be-watched {
  @extend .d-flex;
  align-items: center;
  background: $button-background;
  border: 3px solid $button-background;
  justify-content: center;
  padding-bottom: 3px;
  padding-top: 3px;
  @include hover-focus {
    background: $button-background-hover;
    border: 3px solid $button-background-hover;
  }

  .padder {
    min-height: 32px;
  }

  .verb {
    color: $button-text-color;
    font-size: 18px;
    font-weight: $font-weight-bold;
  }
}

.meta-detail-content .meta-detail-buttons,
.meta-item-buttons {
  display: flex;
  flex-direction: row;

  .owned-custom-container {
    display: none;

    &.s72-show {
      display: block;
    }
  }

  .s72-btn-play {
    margin-right: 8px;
  }
}

/* stylelint-disable selector-max-compound-selectors */
.s72-userwishlist-items .partial > a,
.s72-userlibrary-items .partial > a,
.s72-searchresults .s72-searchresults-results .partial > a,
.swiper-slide > a,
.page-collection-item > a {
  .poster .hover .buttons {
    flex-direction: column;
    padding-top: 0;

    .s72-btn-can-be-watched {
      margin-bottom: 10px;
      margin-top: 10px;
    }

    s72-pricing-buttons {
      padding-top: 10px;
    }

    .s72-btn-play,
    .s72-btn-can-be-watched {
      min-width: 140px;
    }
  }
}
/* stylelint-enable selector-max-compound-selectors */
