.meta-detail-content .meta-detail-buttons,
.meta-item-buttons {
  @extend .align-items-sm-center;
  display: flex;
  @extend .flex-xs-row;
  flex-wrap: wrap;

  .owned-custom-container {
    display: none;

    &.s72-show {
      display: block;
    }
  }

}

// /* stylelint-enable selector-max-compound-selectors */
