.carousel,
s72-carousel {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 0;
  width: 100%;
}

.s72-carousel-slides {
  background: $carousel-bg-color;
  height: var(--carousel-height) !important;
  overflow: hidden;
  width: 100%;
  @include media-breakpoint-up(sm) {
    height: var(--carousel-height-sm) !important;
  }
  @include media-breakpoint-up(md) {
    //height: calc(var(--carousel-height-md) + 80px) !important;
    height: var(--carousel-height-md) !important;
  }

  s72-image {
    float: right;
    height: var(--carousel-height);
    width: 100%;
    position: absolute;
    top: 0;
    @include media-breakpoint-up(sm) {
      height: var(--carousel-height-sm);
    }
    @include media-breakpoint-up(md) {
      height: var(--carousel-height-md);
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      height: var(--carousel-height);
      margin-left: 50%;
      transform: translateX(-50%);

      @include media-breakpoint-up(sm) {
        height: var(--carousel-height-sm);
      }
      @include media-breakpoint-up(md) {
        height: var(--carousel-height-md);
      }
    }
  }

  .s72-pricing-button-container {
    white-space: nowrap;
  }
}

.s72-carousel-item {
  left: 0;
  opacity: 0;
  top: 0;
  transition: opacity 0.7s linear;
  width: 100%;
  z-index: 1;
  height: 100%;

  &.in {
    display: block;
  }

  &.out {
    display: block;
    z-index: 5;
  }

  &.current {
    display: block;
    opacity: 1;
  }

  .carousel-item-link {
    display: block;
    height: 100%;
    
    &:focus-visible {
      outline: none;

      .meta-item-content {
        border-radius: 4px; 
        outline: 1px solid var(--body-color);
        
      }
    }
  }
}

.carousel-item-caption {

  left: 0;
  position: absolute;
  bottom: 0;
  z-index: 999;
  width: 100%;
  display: flex;
  padding: 0 20px;
  padding-top: 100px;
  //https://via.placeholder.com/3000/FFFFFF
  //@include gradient-y(rgba($bottom-gradient-bg-color, 0),rgba($bottom-gradient-bg-color, 1),0%,40%);
  //@include gradient-y(rgba($bottom-gradient-bg-color, 0),rgba($bottom-gradient-bg-color, 1),0%,100%);
  //background: linear-gradient(180deg, rgba($bottom-gradient-bg-color, 0) 0%, rgba($bottom-gradient-bg-color, 0.7) 51%, rgba($bottom-gradient-bg-color, 1) 100%);
  //background: linear-gradient(180deg, rgba($bottom-gradient-bg-color, 0) 0%, rgba($bottom-gradient-bg-color, 0.3) 40%, rgba($bottom-gradient-bg-color, 1) 77%);
  
  // Created using this tool: https://larsenwork.com/easing-gradients/#editor
  
    background: linear-gradient(
          to bottom,
          rgba(var(--body-bg-rgb), 0) 0%,
          rgba(var(--body-bg-rgb), 0.013) 7.5%,
          rgba(var(--body-bg-rgb), 0.049) 13.6%,
          rgba(var(--body-bg-rgb), 0.104) 18.5%,
          rgba(var(--body-bg-rgb), 0.175) 22.5%,
          rgba(var(--body-bg-rgb), 0.259) 25.9%,
          rgba(var(--body-bg-rgb), 0.352) 29.2%,
          rgba(var(--body-bg-rgb), 0.45) 32.5%,
          rgba(var(--body-bg-rgb), 0.55) 36.2%,
          rgba(var(--body-bg-rgb), 0.648) 40.6%,
          rgba(var(--body-bg-rgb), 0.741) 46.1%,
          rgba(var(--body-bg-rgb), 0.825) 52.9%,
          rgba(var(--body-bg-rgb), 0.896) 61.4%,
          rgba(var(--body-bg-rgb), 0.951) 71.8%,
          rgba(var(--body-bg-rgb), 0.987) 84.6%,
          rgb(var(--body-bg-rgb)) 100%
        );

  @include media-breakpoint-up(lg) {
    padding: 100px 50px 1px 50px;
  }
  //  background-image: linear-gradient(to bottom, rgba(2, 2, 2, 0) 0%, rgba(2, 2, 2, 0.29) 40%, var(--surface-dark-001) 77%);

  s72-availability-status,
  s72-availability-label {
    position: relative;

    .availability-bg {
      background: transparent;
      display: inline-block;
      padding: 0 0 10px 0;
    }

    .availability-state {
      color: var(--body-color);
      font-size: 12px;
      text-transform: none;
    }
  }

  .meta-item-content {
    color: #fff;

    h3 {
      color: var(--body-color);
      font-size: 28px;
      font-weight: $font-weight-normal;
      margin-bottom: 0;
      padding-bottom: 0;
      max-width: 930px;
      padding-bottom: 8px;
      @include media-breakpoint-up(md) {
        font-size: 38px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 46px;
      }
      @include media-breakpoint-up(xxxl) {
        font-size: 46px;
      }
    }

    h4 {
      background: var(--primary);
      color: #000;
      display: inline-block;
      font-size: 6px;
      font-weight: $font-weight-bold;
      padding: 2px 4px;
      text-transform: uppercase;
      @include media-breakpoint-up(md) {
        font-size: 12px;
      }
    }

    .meta-item-tagline-and-classification {
      @extend .d-flex;
      align-items: center;
      padding-bottom: 8px;
    }

    .s72-classification {
      margin-right: 5px;
    }

    .meta-item-tagline {
      color: rgba(var(--body-color-rgb), 0.8);
      font-size: 14px;
      font-weight: $font-weight-normal;
    }

    .meta-item-synopsis {
      display: none;
      font-weight: $font-weight-normal;
      padding-bottom: 22px;
      padding-top: 0;
      max-width: 600px;
      font-size: 16px;
      p {
        margin-bottom: 0;
      }
      @include media-breakpoint-up(lg) {
        display: block;
      }
    }

    .meta-item-extras {
      @extend .d-flex;
    }

    .btn-wishlist {
      position: relative;
    }
  }
  
  .meta-item-buttons {
    s72-pricing-buttons {
      padding-right: 12px;
      padding-bottom: 8px;
    }
    .meta-item-extras {
      padding-bottom: 8px;
    }
  }
  .s72-btn-rent {
    margin-left: 0 !important;
  }
  .s72-btn-purchase {
    margin-right: 8px;
  }

  .s72-btn-play {
    circle {
      fill: transparent;
    }
  }
}

.s72-carousel-pagination {
  @extend .d-flex;
  justify-content: center;
  margin-top: 40px;
}
.s72-carousel-page {
  border: 0;
  background: none;
  padding: 10px 4px;
  
  .s72-carousel-line {
    position: relative;
    width: 47px;
    height: 6px;
    border-radius: 6px;
    background-color: rgba(var(--body-color-rgb), 0.2);
    overflow: hidden;
  }
  .s72-carousel-line-current {
    position: absolute;
    left: 0;
    width: 0%;
    height: 100%;
  }

  &:hover {
    cursor: pointer;
  }
  &.current .s72-carousel-line {
    background-color: var(--primary);
  }
}

.s72-carousel-control {
  @extend .d-flex;
  bottom: 0;
  flex-direction: column;
  height: 60px;
  justify-content: center;
  line-height: 60px;
  position: absolute;
  text-align: center;
  top: auto;
  width: 50px;
  z-index: 6;
  @include media-breakpoint-down(sm) {
    :hover {
      color: var(--primary);
    }

    :active {
      opacity: 0.8;
    }
  }
  @include media-breakpoint-up(md) {
    background: none;
    top: 53%;
  }

  &.left {
    left: 0;
    right: auto;
  }

  &.right {
    left: auto;
    right: 0;
  }

  &:hover,
  &:active {
    text-decoration: none;
  }

  span {
    font-size: 32px;
    text-align: center;
    width: 100%;
    @include media-breakpoint-up(md) {
      font-size: inherit;
    }
  }
}