// Footer
footer {
	padding: 10px 10px;
	flex-direction: column;
	@extend .d-flex;
	@include media-breakpoint-up(md){
		text-align: left;
		flex-direction: row;
		padding: 20px 20px;
	}
}
// Footer Nav
.footer-nav {
	@extend .d-flex;
	flex-direction: column;
	justify-content: center;
	@include media-breakpoint-up(md){
		padding-left: 20px;
	}
	.nav {
		flex-direction: column;
		@include media-breakpoint-up(md){
			flex-direction: row;
		}
		.nav-item {
			.nav-link {
				font-size: 10px;
				font-weight: 600;
				color: #fff;
				text-align: center;
				padding: 5px 4px;
				display: block;
				@include media-breakpoint-up(md){
					font-size: 12px;
					text-align: left;
					margin-right: 10px;
					padding: 0;
				}
			}
		}
	}
	.copyright-statement {
		font-size: 8px;
		text-align: center;
		padding: 10px 0;
		max-width: 210px;
		margin: 0 auto;
		@include media-breakpoint-up(md){
			text-align: left;
			padding: 0;
			max-width: 100%;
		}
	}
}
// Footer Brand
.footer-brand {
	@extend .text-hide;
	min-width: $footer-brand-min-width;
	height: 45px;
	margin: 0 auto;
	background: url('../images/common/logo.png') left center/100% no-repeat;
	@media only screen and (-webkit-min-device-pixel-ratio: 2),only screen and (min-resolution: 192dpi) {
    	background: url("../images/common/logo@2x.png") left center/100% no-repeat;
 	}
 	@include hover() {
		@extend .text-hide;
	}
	@include media-breakpoint-up(md){
		height: auto;
		margin: 0;
		min-width: $footer-brand-min-width-md;
	}
}
// Powered by
.powered-by {
	text-align: center;
	padding: 10px 0 15px 0;
	@include media-breakpoint-up(md){
		margin-left: auto;
	}
	a {
		font-size: 10px;
		text-transform: uppercase;
		font-weight: 800;
		padding: 5px 12px;
		margin: 0;
		border-radius: 24px;
		border: 2px solid $primary;
		&:hover, &:active, &:focus {
			color: #000;
			background: $primary;
			text-decoration: none;
		}
	}
}