label {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

// Form Container Defaults
s72-signin-form,
s72-signup-form,
s72-forgotpassword-form,
s72-resetpassword-form,
s72-acceptinvite-form,
s72-useraccount-form,
s72-activatedevice-form,
.form-container {
  display: block;
  margin: 0 auto;
  max-width: 400px;
  padding-bottom: 20px;
  width: 100%;
}
// Password Form Group
.s72-account-password-form-group .s72-control-inputs {
  display: flex;

  .s72-form-control-static {
    flex: 1;
  }
}
// Combined Auth
.s72-combined-auth {
  @include media-breakpoint-up(sm) {
    clear: left;

    .s72-form-group-password,
    .s72-form-group-password2 {
      float: left;
      width: 50%;
    }

    .s72-form-group-password {
      padding-right: 2px;
    }

    .s72-form-group-password2 {
      padding-left: 2px;
    }
  }
}
// Unsure currently what this does
.form-block {
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
}
// This needs to be fixed / changed - doesnt need it and could be attached to another div
.page-form {
  padding: 0 20px;
  @include media-breakpoint-up(lg) {
    padding: 0 50px;
  }
}
// Error Messaging
.s72-error-message {
  background: $error-background;
  border-radius: $border-radius;
  color: $error-color;
  font-size: 0.875rem;
  letter-spacing: 0.02em;
  margin-top: 10px;
  padding: 4px 8px;
  position: relative;

  &::before {
    border-color: transparent transparent $error-background transparent;
    border-style: solid;
    border-width: 0 5px 5px;
    content: '';
    height: 0;
    position: absolute;
    top: -5px;
    width: 0;
  }
}
// DOB Datepicker
.s72-datepicker {
  @extend .d-flex;
  flex-direction: row;
  justify-content: space-between;

  .s72-datepicker-day,
  .s72-datepicker-year {
    flex-shrink: 0;
  }
  .s72-datepicker-month {
    margin: 0 4px;
    width: 100%;
  }
}
// Form Control Default
.s72-form-control {
  font-weight: $font-weight-normal;
  height: var(--input-height);

  /* stylelint-disable-next-line */
  &:not(.StripeElement--empty) {
    background-color: $body-bg-accent;
    border-color: rgba(var(--body-color-rgb), 0.1);
    color: var(--body-color);
    &:focus {
      border-color: $input-focus-border-color;
      color: var(--body-color);
    }
    &::placeholder {
      color: rgba(var(--body-color-rgb), 0.8);
    }
  }
}
// Account Page Change Password Field
.s72-form-control-static {
  background: $body-bg-accent;
  color: var(--body-color);
  cursor: not-allowed;
  display: inline-block;
  font-size: 1rem;
  height: var(--input-height);
  line-height: 1rem;
  outline: none;
  padding: 0.375rem 0.75rem;
}
.s72-modal-sm .s72-modal-dialog {
  max-width: 400px;
}
// Change Password Overlay
.s72-shopping-modal {
  .s72-modal-closable {
    .s72-modal-dialog {
      @include media-breakpoint-up(md) {
        margin: 90px auto 0 !important;
        max-width: 400px;
      }
    }
  }
  .s72-form-control {
    height: var(--input-height);
  }
}

.s72-modal-closable {
  .s72-modal-dialog {
    @include media-breakpoint-up(md) {
      margin: 90px auto 0 !important;
    }
  }
}

.s72-modal-container {
  .s72-buttons {
    .s72-btn {
      color: $button-text-color;

      &:hover {
        color: $button-text-color-hover;
      }
    }
  }
}

.s72-modal-backdrop {
  opacity: 0.8;
}

.s72-modal-closable {
  .s72-modal-dialog {
    margin: auto;
  }
}

.s72-modal-content {
  background: var(--body-bg);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--body-color);
  padding: 20px 10px;

  .s72-modal-header {
    border-bottom: 0 none;
    padding: 0 50px 20px 0;

    .s72-modal-title {
      color: var(--body-color);
      font-size: 20px;
      font-weight: $font-weight-bold;
      line-height: auto;
    }
  }

  .s72-modal-body {
    padding: 0 20px;
  }

  .s72-modal-footer {
    border-top: 0 none;

    .s72-btn-modal-cancel {
      border-color: transparent;
      margin-right: $grid-gutter-width / 3;
    }
  }
}

.form-check {
  display: inline-block !important;
}

.s72-btn {
  &.s72-btn-modal-close {
    top: 11px;
  }
}

s72-signup-form {
  .s72-form-text {
    margin-bottom: 1rem;
  }
}

// Error
.was-validated .form-control:invalid,
.was-validated .s72-form-control:invalid,
.was-validated .s72-pincode:invalid,
.form-control.is-invalid,
.s72-has-error .form-control,
.is-invalid.s72-form-control,
.is-invalid.s72-pincode,
.s72-has-error .s72-form-control,
.s72-has-error .s72-pincode {
  border: 2px solid rgba(var(--body-color-rgb), 0.5) !important;
  box-shadow: none !important;
}

// Stripe Inputs
.s72-payment-option-group {
  .existing-card {
    padding: 0.125rem 0 0.125rem 0.75rem;
  }
  // List of Saved Cards
  .s72-form-control.existing-card.selectable {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 12px;
    padding-left: 0;
    &:hover {
      background-color: transparent;
    }

    /* stylelint-disable selector-no-qualifying-type */
    i.fa.fa-trash {
      color: $error-color;
      &:hover {
        opacity: 0.8;
      }
    }
    /* stylelint-enable selector-no-qualifying-type */
  }
}
