// Sign Up or Create Account Homepage Placement
.sign-up-now {
  padding: $grid-gutter-width 0;

  .item {
    @extend .d-flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 420px;
    padding: 0 $grid-gutter-width / 2;
    // Watch anywhere, at any time
    h2 {
      align-self: center;
      color: #fff;
      font-size: 24px;
      font-weight: $font-weight-normal;
      max-width: 210px;
      text-align: center;
      @include media-breakpoint-up(md) {
        font-size: 22px;
        max-width: 400px;
      }
      @include media-breakpoint-up(lg) {
        font-size: 28px;
      }
    }
    // Sign in or Create Account
    s72-user-anon {
      align-self: center;
      display: block;
      text-align: center;
      width: 100%;

      p {
        font-size: 14px;
        font-weight: $font-weight-normal;

        a {
          text-decoration: underline;
        }
      }
    }
    // Supported Platforms Image
    .supports {
      display: block;
      @include media-breakpoint-up(md) {
        padding: 0;
      }

      img {
        display: block;
        height: 60%;
        margin: 0 auto;
        width: 60%;
        @include media-breakpoint-up(md) {
          // width: 100%;
        }
      }
    }
  }
}

.other-sliders {
  padding-top: 20px;
}
