@font-face {
  font-family: 'fa-s72';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/fa-s72.woff') format('woff');
}

.fa {
  display: inline-block;
  font-family: 'fa-s72' !important;
  font-style: normal !important;
  font-variant: normal !important;
  font-weight: normal !important;
  line-height: 1;
  text-transform: none !important;
  vertical-align: middle;
}

.fa-credit-card::before,
.fa-trash::before {
  font-size: 18px;
}

.fa-ellipsis-v {
  font-size: 26px;
}

.fa-credit-card {
  line-height: 0;
}

.fa-angle-down,
.fa-angle-left,
.fa-angle-right,
.fa-angle-up {
  &::before {
    content: '\e017';
  }
}

.fa-angle-left {
  transform: rotate(90deg);
}

.fa-angle-up {
  transform: rotate(180deg);
}

.fa-angle-right {
  transform: rotate(270deg);
}

.fa-cc-visa::before {
  content: '\e027';
}

.fa-cc-stripe::before {
  content: '\e026';
}

.fa-cc-paypal::before {
  content: '\e025';
}

.fa-cc-mastercard::before {
  content: '\e024';
}

.fa-cc-jcb::before {
  content: '\e023';
}

.fa-cc-discover::before {
  content: '\e022';
}

.fa-cc-diners-club::before {
  content: '\e000';
}

.fa-cc-amex::before {
  content: '\e002';
}

.fa-twitter::before {
  content: '\e008';
}

.fa-star::before {
  content: '\e009';
}

.fa-error::before {
  content: '\e00a';
}

.fa-circle-o::before {
  content: '\e00b';
}

.fa-check::before {
  content: '\e00c';
}

.fa-times::before {
  content: '\e00d';
}

.fa-trash::before {
  content: '\e00e';
}

.fa-facebook::before {
  content: '\e00f';
}

.fa-link::before {
  content: '\e010';
}

.fa-external-link::before {
  content: '\e004';
}

.fa-linkedin::before {
  content: '\e011';
}

.fa-envelope::before {
  content: '\e012';
}

.fa-ellipsis-v::before {
  content: '\e013';
}

.fa-check-circle::before {
  content: '\e015';
}

.fa-search::before {
  content: '\e016';
}

.fa-angle-down::before {
  content: '\e017';
}

.fa-credit-card::before {
  content: '\e018';
}

.fa-globe::before {
  content: '\e019';
}

.fa-share-alt::before {
  content: '\e01a';
}

.fa-circle::before {
  content: '\e001';
}

.fa-warning::before,
.fa-exclamation-circle::before,
.fa-exclamation-triangle::before {
  content: '\e01b';
}

.existing-card-icon {
  font-size: 1.2rem;
}

s72-availability-label .availability-state::before {
  content: '\e01b';
}

.fa-spinner::before {
  content: '\e014';
}

@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.fa-spin {
  animation: fa-spin 2s linear infinite;
}

.icon-loading {
  @extend .fa;
  @extend .fa-spinner;
  @extend .fa-spin;
}

.icon-errored {
  @extend .fa;
  @extend .fa-warning;
}

.icon-warning {
  @extend .fa;
  @extend .fa-warning;
}

.icon-search {
  @extend .fa;
  @extend .fa-search;
}

.alert svg {
  fill: var(--primary);
}

.fa-play-trailer::before,
.fa-share-alt::before {
  font-size: 23px;
}

.fa-play-trailer::before {
  content: '\e01d';
}

@mixin s72-icon-live {
  @extend .fa-circle;
  @extend .s72-icon;
}
