
@font-face {
  font-family: "fa-s72";
  src:url("/fonts/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.fa {
  font-family: "fa-s72" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
}

.fa-angle-down, .fa-angle-left, .fa-angle-right, .fa-angle-up {
  &:before {
    content: "\e004";
  }
}
.fa-angle-left{
  transform: rotate(90deg);
}


.fa-angle-up{
  transform: rotate(180deg);
}
.fa-angle-right{
  transform: rotate(270deg);
}

.fa-search:before {
  content: "\e000";
}
.fa-globe:before {
  content: "\e001";
}
.fa-card:before {
  content: "\e002";
}
.fa-angle-down:before {
  content: "\e004";
}
.fa-check-circle:before {
  content: "\e005";
}
.fa-cc-visa:before {
  content: "\e006";
}
.fa-cc-stripe:before {
  content: "\e007";
}
.fa-cc-paypal:before {
  content: "\e008";
}
.fa-cc-mastercard:before {
  content: "\e009";
}
.fa-cc-jcb:before {
  content: "\e00a";
}
.fa-cc-discover:before {
  content: "\e00b";
}
.fa-cc-diners-club:before {
  content: "\e00c";
}
.fa-cc-amex:before {
  content: "\e00d";
}
.fa-twitter:before {
  content: "\e00e";
}
.fa-star:before {
  content: "\e00f";
}
.fa-ellipsis-v:before {
  content: "\e010";
}
.fa-bars:before {
  content: "\e011";
}
.fa-warning:before, .fa-exclamation-circle:before {
  content: "\e012";
}
.fa-circle-o:before {
  content: "\e013";
}
.fa-check:before {
  content: "\e014";
}
.fa-trash:before {
  content: "\e015";
}
.fa-facebook:before {
  content: "\e016";
}
.fa-link:before {
  content: "\e017";
}
.fa-linkedin:before {
  content: "\e018";
}
.fa-envelope:before {
  content: "\e019";
}
.fa-close:before {
  content: "\e003";
}
.fa-spinner:before {
  content: "\e01a";
}

@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.fa-spin {
  animation: fa-spin 2s linear infinite;
}

.icon-navbar-toggler {
  @extend .fa;
  @extend .fa-bars;

  &.toggled {
    @extend .fa-close;
  }
}

.icon-loading {
  @extend .fa;
  @extend .fa-spinner;
  @extend .fa-spin;
}

.icon-errored {
  @extend .fa;
  @extend .fa-exclamation-circle;
}

.icon-warning {
  @extend .fa;
  @extend .fa-warning;
}

.icon-search {
  @extend .fa;
  @extend .fa-search;
}

.alert svg {
  fill: var(--primary);
}
