.navbar-nav {
  s72-language-selector {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
    }
  }
}

.mobile-nav {
  .s72-language-selector {
    margin: 0;
    padding: 0;
    border: none;
    .s72-dropdown-toggle {
      padding: 8px 10px;
    }
    .s72-dropdown-menu {
      position: static;
      border: none;
    }
  }
}

s72-language-selector {
  .s72-btn {
    i {
      padding-right: 10px;
    }
  }
  .s72-dropdown-menu {
    left: auto;
  }
}