s72-language-selector {
  display: none;
  width: 100%;
  @include media-breakpoint-up(lg) {
    display: flex;
    width: auto;
  }

  .s72-dropdown-toggle {
    align-items: center;
    display: flex;
    font-size: 16px;
    font-weight: $font-weight-normal;
    padding: 10px 0;
    text-align: left;
    @include hover-focus {
      box-shadow: none;
    }
    @include media-breakpoint-up(lg) {
      font-size: 14px;
      margin: 0 12px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 16px;
    }

    i {
      font-size: 20px;
      padding-right: 10px;
    }

    &:focus {
      color: $primary;
    }

    &:focus-visible {
      outline: 1px dotted $body-color;
      outline: 5px auto -webkit-focus-ring-color;
    }
  }

  .s72-dropdown-menu {
    left: auto;
  }

  &:hover,
  .s72-dropdown-item:hover {
    @extend .animate-this;
    cursor: pointer;
  }

  .s72-language-selector {
    margin: 0;
    width: 100%;
  }
}

.navigation.show s72-language-selector {
  display: flex;
}
