s72-language-selector {
  display: none;
  width: 100%;
  @include media-breakpoint-up(md) {
    display: flex;
    width: auto;
  }
  .s72-dropdown-toggle {
    i {
      padding-right: 10px;
      font-size: 18px;
    }
    
  }
  .s72-dropdown-menu {
    left: auto;
  }
  &:hover, .s72-dropdown-item:hover {
    cursor: pointer;
  }
  .s72-language-selector {
    margin: 0;
    padding: 10px 0;
    width: 100%;
  }
  .s72-dropdown-toggle {
    padding: 0;
    display: flex;
    align-items: center;
  }
}
.navigation.show s72-language-selector {
  display: flex;
}