@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.meta-detail {
  padding-bottom: 0;
  position: relative;

  > .container {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    z-index: 2;
  }
}

.meta-detail-bg {
  @extend .d-flex;
  flex-direction: row;
  height: 500px;
  justify-content: flex-end;
  margin: 0 auto;
  max-height: 900px;
  max-width: 100%;
  opacity: 0.8;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  @include media-breakpoint-up(md) {
    height: 700px;
    opacity: 1;
  }
  @include media-breakpoint-up(xl) {
    height: 100%;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    right: 0;
  }

  s72-image {
    display: block;
    position: relative;
    width: 100%;
    @include media-breakpoint-up(lg) {
      width: 1600px;
    }

    &::before {
      @extend .left-gradient-bg;
      bottom: 0;
      content: '';
      height: 100%;
      left: -1px;
      position: absolute;
      top: 0;
      width: 60%;
      z-index: 8;
      @include media-breakpoint-up(md) {
        width: 100%;
      }
    }

    img {
      animation: fadein 2s;
      height: 500px;
      max-width: 1600px;
      width: auto;
      @include media-breakpoint-up(md) {
        float: right;
        height: 700px;
        margin-left: 0;
      }
      @include media-breakpoint-up(xl) {
        float: right;
        height: auto;
      }
    }
  }

  &::after {
    @extend .bottom-gradient-bg;
    bottom: 0;
    content: '';
    height: 350px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 8;
  }
}

.meta-detail {
  .container {
    max-width: 100%;
  }
}

.meta-detail-bg-gradient {
  @include gradient-y(rgba(var(--body-bg-rgb), 0.4), var(--body-bg), 0%, 100%);
  bottom: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.meta-detail-bg-img {
  display: block;
  width: 100%;
}

.meta-detail-main {
  @extend .d-flex;
  flex-direction: column;
  padding: var(--page-detail-padding-top) 20px 0 20px;
  @include media-breakpoint-up(md) {
    padding-bottom: 0;
    padding-top: var(--page-detail-padding-top-md);
  }
  @include media-breakpoint-up(lg) {
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: var(--page-detail-padding-top-lg);
  }

  .poster {
    animation: fadein 2s;
    display: block;
    flex-shrink: 0;
    width: 140px;
    @include media-breakpoint-up(md) {
      width: 175px;
    }
  }
  > .poster {
    padding-right: 20px;
    margin-bottom: 20px;
  }
}

s72-carousel, .meta-detail{
  s72-modal-player,
  s72-userwishlist-button,
  .social-media-buttons,
  can-be-watched-button:not(:empty) {
    margin-bottom: 10px;
  }

  .s72-pricing-button-container .s72-btn:nth-child(2) {
    @extend .ml-xs-2; //override relish
  }
 }

s72-carousel{
  .s72-pricing-button-container .s72-btn:nth-child(2) {
    @extend .ml-1; //override relish
  }
}

.meta-detail{
  .s72-pricing-button-container .s72-btn:nth-child(2) {
    @extend .ml-0; //override relish
  }
}

.meta-detail-content {
  @include media-breakpoint-up(md) {
    width: 700px;
  }
  @include media-breakpoint-up(xl) {
    width: 1100px;
  }

  h1 {
    animation: fadein 2s;
  }

  .meta-detail-buttons {
    width: 100%;
    

    .s72-pricing-button-container {
      @extend .d-flex;
      @extend .flex-column;
      @extend .d-xs-block;
    }

    /* stylelint-disable selector-max-compound-selectors */

    // Purchase, play, trailer, wishlist are all in one group now
    // Need similar bootstrap approach of handling/wrapping rows and columns via negative margin
    s72-pricing-buttons {
      width: 100%;
    }
    @include media-breakpoint-up(xs) {
      margin-right: -1rem;
      margin-left: -1rem;
      s72-pricing-buttons {
        width: auto;
      }

      s72-pricing-buttons .s72-btn,
      .meta-detail-extras,
      s72-play-button,
      can-be-watched-button:not(:empty) {
        animation: fadein 2s;
        margin-left: 1rem;
        margin-right: 1rem;
      }

    // Handles spacing when there is only rent, only buy, or only play button
    s72-pricing-buttons .s72-btn,
    s72-play-button {
      &:nth-child(1) {
        margin-right: 0;
      } 
      &:only-child {
        margin-right: 0.5rem;
      }
    }
    }

    min-height: 45px;




      s72-play-button, can-be-watched-button {
        width: 100%;
        @include media-breakpoint-up(xs) {
          width: auto;
     
        }
      .s72-btn {
        width: 100%;

        @include media-breakpoint-up(xs) {
          &:nth-child(2) {
            margin-left: 20px;
          }
        }
      }
    }
    /* stylelint-enable selector-max-compound-selectors */
  }

  .meta-detail-synopsis {
    padding-top: 10px;
    font-weight: $font-weight-light;
    letter-spacing: 0.6px;
    line-height: 1.45;
    margin-bottom: 25px;

    p {
      animation: fadein 2s;
    }

    a {
      @include a;
    }
  }

  .meta-detail-extras {
    @extend .d-flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include media-breakpoint-up(md) {
      flex-direction: row;
    }

    .s72-btn,
    .s72-userwishlist-buttons,
    .social-media-buttons {
      animation: fadein 2s;
    }
  }

  .meta-detail-cast,
  .meta-detail-crew,
  .meta-detail-language,
  .meta-detail-studio,
  .meta-detail-country,
  .meta-detail-subtitle {
    padding-bottom: 20px;

    &:empty {
      display: none!important;
    }

    h2,
    h3,
    h4 {
      animation: fadein 2s;
      color: var(--body-color);
      font-size: 16px;
      letter-spacing: 0.8px;
      font-weight: $font-weight-normal;
      margin-bottom: 5px;
      padding-bottom: 0;
    }

    p {
      animation: fadein 2s;
      color: var(--body-color);
      font-weight: $font-weight-light;
      margin-bottom: 0;
    }

    a {
      @include a;
      animation: fadein 2s;
      letter-spacing: 0.6px;
    }
  }

}

s72-pricing-buttons, s72-play-button {
  .s72-btn {
    margin-bottom: 10px;
  }  
}

// slider item hover buttons
.buttons {
  flex-direction: column;
  s72-pricing-buttons, s72-play-button, can-be-watched-button {
    width: 100%;
    .s72-btn {
      margin-bottom: 15px;
      width: 100%;
    }
  }

  .s72-btn {
    margin-left: 0px!important;
  }

  .meta-detail-extras {
    width: 100%;
    justify-content: space-around;
  }
}

.recommendations-collection {
  padding-top: 20px;
  @include media-breakpoint-up(md) {
    padding-top: 0;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 20px;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 80px;
  }
}

.meta-detail-bundle {
  .meta-detail-bg {
    opacity: 0.4;

    &::before {
      display: none;
    }

    &::after {
      @include gradient-y(rgba(var(--body-bg-rgb), 0), var(--body-bg), 0%, 100%);

      bottom: 0;
      left: 0;
      position: absolute;
      width: 100%;
    }

    s72-image {
      &::before {
        @include gradient-x(rgba(var(--body-bg-rgb), 1), transparent, 0%, 100%);

        bottom: 0;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 30%;
        z-index: 8;
      }

      &::after {
        @include gradient-x(transparent, rgba(var(--body-bg-rgb), 1), 0%, 100%);

        bottom: 0;
        content: '';
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 30%;
        z-index: 8;
      }
    }
  }

  .meta-detail-main {
    flex-direction: column;
    padding-top: var(--page-detail-padding-top);

    @include media-breakpoint-up(md) {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: var(--page-detail-padding-top-md);
    }

    @include media-breakpoint-up(lg) {
      padding-left: 50px;
      padding-right: 50px;
      padding-top: var(--page-detail-padding-top-lg);
    }
  }

  .meta-detail-content {
    max-width: 630px;
    width: 100%;

    @include media-breakpoint-up(md) {
      margin: 0;
    }

    @include media-breakpoint-up(lg) {
      max-width: 960px;
    }

    h1 {
      margin-bottom: 10px;
    }

    .meta-detail-tagline {
      margin-bottom: 25px;
    }

    .meta-item-tagline {
      margin: 0;
    }

    .meta-detail-buttons {
      margin-bottom: 35px;
    }

    .meta-detail-synopsis {
      font-size: 12px;
      margin-bottom: 35px;

      @include media-breakpoint-up(lg) {
        font-size: 14px;
      }

      @include media-breakpoint-up(xl) {
        font-size: 16px;
      }
    }

    p {
      animation: fadein 2s;
    }
  }

  .meta-detail-extras {
    @extend .d-flex;

    min-height: min-content;
    padding: 0;
  }

  .page-collection-list {
    padding: 0;

    .page-collection-list-title {
      margin-bottom: 10px;
      padding: 0;
    }
  }

  .page-collection-item {
    margin-bottom: 15px;

    .poster {
      width: 100%;
    }

    .meta-item-tagline {
      margin: 0;
    }
  }
}

.meta-detail-episodes-content,
.meta-detail-bonus-content {

  @extend .mb-4;
  .poster {
    border-radius: $poster-border-radius;
  }
  .s72-btn-play {
    @extend .border-0;
    border-radius: 999px;
    background-color: unset!important;
    box-shadow: none!important;

    .s72-icon-play circle {
      stroke: unset;
    }
    circle {
      fill: rgba(0, 0, 0, 0.8);
    }
    path {
      fill: white;
    }
  }
}

.bonus-item, .episode-item  {

  h3 {
    font-size: 16px;
    font-weight: $font-weight-normal;
    letter-spacing: 0.4px;
  }

  @extend .clearfix;
  &:not(:last-of-type) {
    @extend .mb-1p5;
    border-bottom: 1px solid $list-group-border-color;
  }
}

.bonus-item {
  @extend .d-table;
  @extend .w-100;
}
.bonus,
.episode {
  @extend .d-block;


  .caption {
    @extend .d-sm-flex;
    @extend .flex-column;
  }
  
  .synopsis {
    @extend .mt-p5;
    @extend .pl-sm-1p5;
    @extend .mb-1;
    @extend .w-100;
    line-height: 1.25;
    font-size: 16px;
    letter-spacing: 0.6px;
    font-weight: $font-weight-light;
    p {
      @extend .mb-0;
    }
  }

  h3 {
    color: var(--body-color);
    @extend .mb-0;
    @extend .mb-sm-1;
    min-height: 42px;
    margin-left: 112px;
    @extend .pl-1p5;
    @extend .ml-sm-0;
    @include media-breakpoint-up(sm) {
      min-height: unset;
    }
  }
  .runtime {
    font-size: 14px;
    @extend .pl-1p5;
    @extend .ml-sm-0;
    margin-left: 112px;
    display: block;
    @extend .clearfix;
    line-height: 30px;
    @include media-breakpoint-up(sm) {
      order: 1;
    }
  }
  .poster {
    height: 100%;
    width: 112px;

    @extend .mb-1;
    float: left;
    @include media-breakpoint-up(sm) {
      width: 175px;
    }
    .s72-btn-play {
      left: 50%;
      padding-left: 3px;
      padding-right: 3px;
      position: absolute;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 2;
      .verb {
        display: none;
      }
    }
  }
}

.s72-playback-progress, .s72-playback-progress {
  height: 6px;
}