.meta-item {
  a {
    display: inline-block;
  }

  .poster {
    s72-image {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}

.meta-item-img {
  border-radius: $meta-item-border-radius;
  display: block;
  max-width: 100%;
  overflow: hidden;
}

.featured-meta-item s72-image {
  display: block;
  width: 100%;
}

.meta-item-body {
}

.featured-meta-item-body {
  @include gradient-y(
    $start-color: transparent,
    $end-color: rgba(#000, 0.7),
    $start-percent: 0%,
    $end-percent: 50%
  );
  bottom: 0;
  left: 0;
  padding: $featured-meta-item-body-padding;
  position: absolute;
  right: 0;
  top: auto;

  @include media-breakpoint-up(md) {
    padding: $featured-meta-item-body-padding * 2;
  }
}

.meta-item-title {
  color: $meta-item-body-color;
  font-family: $font-family-base;
  font-size: 14px;
  font-weight: $font-weight-bold;
  text-shadow: 1px 1px 2px #000;

  @include media-breakpoint-up(md) {
    font-size: 18px;
    line-height: 22px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 28px;
    line-height: 30px;
  }
}

.meta-item-text {
  color: $meta-item-body-color;
  font-size: 12px;
  font-weight: $font-weight-normal;
  width: 100%;

  @include media-breakpoint-up(md) {
    font-size: 12px;
    padding-top: 5px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 14px;
    padding-top: 10px;
  }

  .meta-item-tagline {
    margin-bottom: 0;
  }
}

.meta-item-synopsis {
  color: $meta-item-body-color;
  display: none;
  font-size: 12px;
  font-weight: $font-weight-normal;

  @include media-breakpoint-up(lg) {
    display: block;
    font-size: 12px;
    padding-top: 10px;
  }
}

.meta-item-buttons {
  margin-top: 5px;
}
