.sub-item {
  display: grid;
  gap: 1px 15px;
  grid-template-columns: 112px minmax(100px, 1fr);
  grid-template-rows: auto minmax(0, 1fr);
  margin-bottom: 16px;
  padding-bottom: 16px;

  @include media-breakpoint-up(sm) {
    grid-template-columns: 175px minmax(100px, 1fr);
    grid-template-rows: auto auto minmax(0, 1fr);

    &:last-of-type {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    gap: 5px 15px;
  }

  h3 {
    color: var(--body-color);
    margin-bottom: 15px;

    @include media-breakpoint-up(sm) {
      margin-bottom: 0;
    }
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid $list-group-border-color;
  }

  s72-image {
    display: initial; //override relish
  }

  .poster-container {
    grid-row: 1 / 3;

    @include media-breakpoint-up(sm) {
      grid-row: 1 / 4;
    }
  }

  .synopsis {
    animation: fadein 2s;
    font-size: 16px;
    font-weight: $font-weight-light;
    grid-column: 1 / 3;
    letter-spacing: 0.6px;
    line-height: 1.25;
    margin-top: 5px;
    overflow: hidden;

    @include media-breakpoint-up(sm) {
      display: block !important;
      grid-column: auto;
      grid-row: 2;
      margin-bottom: 7px;
    }

    p {
      margin-bottom: 0;
    }
  }

  .runtime {
    line-height: 14px;
  }

  .poster {
    border-radius: $poster-border-radius;

    img {
      width: 100%;
    }

    .s72-btn-play {
      background-color: unset;
      border: 0;
      border-radius: 999px;
      box-shadow: none;
      left: 50%;
      padding-left: 3px;
      padding-right: 3px;
      position: absolute;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 2;

      /* stylelint-disable selector-max-compound-selectors */
      circle {
        fill: rgba(0, 0, 0, 0.8) !important;
        stroke: unset;
      }

      path {
        fill: #fff !important;
        stroke: #fff !important;
      }

      .verb {
        display: none;
      }
      /* stylelint-enable selector-max-compound-selectors */
    }
  }
}


s72-show-hide-switcher {
  display: block;
  margin-bottom: 15px;
  padding-bottom: 15px;
  transition: height 0.5s ease;

  .s72-toggle {
    @include media-breakpoint-up(sm) {
      display: none;
    }
  }
}
