.meta-item-tagline {
  text-transform: uppercase;
  letter-spacing: 0.6px;
  color: var(--body-color);

  .meta-item-tagline-item,
  .meta-item-tagline-divider {
    animation: fadein 2s;
  }
}

.meta-item-tagline, .caption {
  font-size: 15px;
}

.meta-item-tagline-item, .meta-item-divider, .availability-state, .caption {
  color: rgba(var(--body-color-rgb), 0.8);
}

.meta-item-classification {
  border-radius: $meta-item-tagline-classification-border-radius;
  display: inline-block;
  font-weight: $font-weight-bold;
  padding: 0 5px 1px;
}

.meta-item-classification-mature {
  background-color: #fdff5c;
  color: #000;
}
