.meta-item-tagline {
  @extend .list-inline;
  @include overline-style;
  .meta-item-tagline-item,
  .meta-item-tagline-divider {
    @extend .d-inline;

    &:not(:last-child) {
      margin-right: map-get($spacers, 1); // Currently 0.25rem
    }
  }
}

.meta-item-classification {
  border-radius: $meta-item-tagline-classification-border-radius;
  display: inline-block;
  font-weight: $font-weight-bold;
  padding: 0 5px 1px;
}

.meta-item-classification-mature {
  background-color: #fdff5c;
  color: #000;
}

.s72-classification {
  display: inline-block;
  margin-right: 5px;
  margin-top: 0;
  padding: 0;

  .s72-classification-intro,
  .s72-classification-divider {
    display: none;
  }

  .s72-classification-label {
    background-color: rgba(var(--body-color-rgb), 0.15);
    border: 0;
    border-radius: 5;
    color: rgba(var(--body-color-rgb), 0.8);
    font-size: 12px;
    font-weight: $font-weight-bold;
    padding: 1px 5px;

    @include media-breakpoint-up(xxxl) {
      font-size: 14px;
    }
  }
}

.meta-detail-content .meta-detail-tagline-and-classification {
  align-items: center;
  display: flex !important;
  padding: 5px 0 16px;
}

.caption .meta-item-tagline {
  opacity: var(--collection-item-tagline-opacity);
  font-size: var(--collection-item-tagline-font-size);
  line-height: var(--collection-item-tagline-line-height);
  letter-spacing: var(--collection-item-tagline-letter-spacing);
}
