// Right Gradient
.right-gradient-bg {
  @include gradient-x(transparent, rgba($right-gradient-bg-color, 1), 0%, 100%);
  bottom: 0;
  position: absolute;
  right: 0;
  z-index: 9;
}
// Bottom Gradient
.bottom-gradient-bg {
  @include gradient-y(transparent, rgba($bottom-gradient-bg-color, 1), 0%, 100%);
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 8;
}
// Left Gradient
.left-gradient-bg {
  @include gradient-x(rgba($left-gradient-bg-color, 1), transparent, 0%, 100%);
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 8;
}

// Easing gradients created using this tool: https://larsenwork.com/easing-gradients/#editor
// This gradient has solid colour from 85% to 100%.
.carousel-bottom-gradient {
  background: linear-gradient(
    to bottom,
    rgba(var(--body-bg-rgb), 0) 0%,
    rgba(var(--body-bg-rgb), 0.013) 6.9%,
    rgba(var(--body-bg-rgb), 0.049) 13.2%,
    rgba(var(--body-bg-rgb), 0.104) 19.1%,
    rgba(var(--body-bg-rgb), 0.175) 24.7%,
    rgba(var(--body-bg-rgb), 0.259) 30%,
    rgba(var(--body-bg-rgb), 0.352) 35%,
    rgba(var(--body-bg-rgb), 0.45) 40%,
    rgba(var(--body-bg-rgb), 0.55) 45%,
    rgba(var(--body-bg-rgb), 0.648) 50%,
    rgba(var(--body-bg-rgb), 0.741) 55%,
    rgba(var(--body-bg-rgb), 0.825) 60.4%,
    rgba(var(--body-bg-rgb), 0.896) 65.9%,
    rgba(var(--body-bg-rgb), 0.951) 71.8%,
    rgba(var(--body-bg-rgb), 0.987) 78.1%,
    rgb(var(--body-bg-rgb)) 85%,
    rgb(var(--body-bg-rgb)) 100%
  );
}

.navigation-gradient {
  background: linear-gradient(
    to bottom,
    rgba(var(--body-bg-rgb)) 0%,
    rgba(var(--body-bg-rgb), 0.987) 1.1%,
    rgba(var(--body-bg-rgb), 0.951) 4.2%,
    rgba(var(--body-bg-rgb), 0.896) 9%,
    rgba(var(--body-bg-rgb), 0.825) 15.2%,
    rgba(var(--body-bg-rgb), 0.741) 22.6%,
    rgba(var(--body-bg-rgb), 0.648) 30.9%,
    rgba(var(--body-bg-rgb), 0.55) 39.8%,
    rgba(var(--body-bg-rgb), 0.45) 49%,
    rgba(var(--body-bg-rgb), 0.352) 58.3%,
    rgba(var(--body-bg-rgb), 0.259) 67.4%,
    rgba(var(--body-bg-rgb), 0.175) 76%,
    rgba(var(--body-bg-rgb), 0.104) 83.8%,
    rgba(var(--body-bg-rgb), 0.049) 90.6%,
    rgba(var(--body-bg-rgb), 0.013) 96.1%,
    rgba(var(--body-bg-rgb), 0) 100%
  );
}

@mixin detail-page-gradient-lg() {
  background:   linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.068) 15.9%,
    hsla(0, 0%, 0%, 0.138) 28%,
    hsla(0, 0%, 0%, 0.211) 36.9%,
    hsla(0, 0%, 0%, 0.285) 43.1%,
    hsla(0, 0%, 0%, 0.359) 47.3%,
    hsla(0, 0%, 0%, 0.434) 49.9%,
    hsla(0, 0%, 0%, 0.508) 51.6%,
    hsla(0, 0%, 0%, 0.581) 52.9%,
    hsla(0, 0%, 0%, 0.652) 54.4%,
    hsla(0, 0%, 0%, 0.721) 56.7%,
    hsla(0, 0%, 0%, 0.786) 60.4%,
    hsla(0, 0%, 0%, 0.847) 66%,
    hsla(0, 0%, 0%, 0.904) 74.1%,
    hsla(0, 0%, 0%, 0.955) 85.2%,
    hsl(0, 0%, 0%) 100%
  );
}

@mixin a {
  background-color: transparent;
  color: var(--link-color);
  text-decoration: underline;

  &:hover,
  &:focus {
    color: var(--link-color);
    text-decoration: none;
  }
}

@keyframes slidein {
  0% {
    opacity: 0;
    visibility: visible;
  }

  30% {
    opacity: 0;
    transform: translateX(40px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in {
  0% {
    background-color: transparent;
  }

  100% {
    background-color: $navbar-show-background-color;
  }
}
