// Right Gradient
.right-gradient-bg {
  @include gradient-x(transparent, rgba($right-gradient-bg-color, 1), 0%, 100%);
  bottom: 0;
  position: absolute;
  right: 0;
  z-index: 9;
}
// Bottom Gradient
.bottom-gradient-bg {
  @include gradient-y(transparent, rgba($bottom-gradient-bg-color, 1), 0%, 100%);
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 8;
}
// Left Gradient
.left-gradient-bg {
  @include gradient-x(rgba($left-gradient-bg-color, 1), transparent, 0%, 100%);
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 8;
}

@mixin a {
  background-color: transparent;
  color: var(--link-color);
  text-decoration: underline;

  &:hover,
  &:focus {
    color: var(--link-color);
    text-decoration: none;
  }
}

@keyframes slidein {
  0% {
    opacity: 0;
    visibility: visible;
  }

  30% {
    opacity: 0;
    transform: translateX(40px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in {
  0% {
    background-color: transparent;
  }

  100% {
    background-color: $navbar-show-background-color;
  }
}