// Right Gradient
.right-gradient-bg {
    position: absolute;
    z-index: 9;
    bottom: 0;
    right: 0;
	@include gradient-x(transparent, rgba($right-gradient-bg-color,1), 0%, 100%);
}
// Bottom Gradient 
.bottom-gradient-bg {
	position: absolute;
    left: 0;
    bottom: 0;
    z-index: 8;
    @include gradient-y(transparent, rgba($bottom-gradient-bg-color, 1), 0%, 100%);
}
// Left Gradient
.left-gradient-bg {
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 8;
    @include gradient-x( rgba($left-gradient-bg-color, 1), transparent, 0%, 100%);
}

@mixin a-links{
    color: $body-color;
    text-decoration: underline;
    background-color: transparent;
    font-weight: bold;
    &:hover,
       &:focus {
        color: $body-color;
        text-decoration: none;
      }
}