.skip-nav {
  align-items: center;
  background-color: $nav-skip-links-background-color;
  display: flex;
  height: 70px;
  justify-content: flex-end;
  margin-left: -9000px;
  position: absolute;
  top: 0;
  z-index: 12;
  width: 100%;
  padding: 0 20px;

  @include media-breakpoint-up(lg) {
    height: 90px;
    padding: 0 50px;
  }

  &:focus-within {
    margin: 0;
  }

  h2 {
    flex-grow: 1;
    font-size: 20px;
    margin: 0;  
  }

  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
  }
}