/* 
TODO - SHIFT72-WEB 
  Replace language selector icon 
  Remove caret from .s72-dropdown-toggle
*/

// Navigation Container
.navigation {
  position: absolute;
  z-index: 9;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  @extend .top-gradient-bg;
}

.navigation {
  &.show {
    height: 100%;
    nav {
      height: 100%;
    }
    @include media-breakpoint-up(md) {
      height: auto;
    
    }
  }


  // Navbar
  .navbar {
    z-index: 2;
    width: 100%;
    padding: 20px 20px 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 100%;
    background-color: transparent;
    @include media-breakpoint-up(md) {
      padding: 20px 50px 15px 50px;
      flex-direction: row;
      align-items: center;
    }
  }
  &.show .navbar {
    background-color: $body-bg-light;
    @include media-breakpoint-up(md) {
      background-color: transparent;
    }
  }

  // Mobile Order
  .navbar-brand-container { order: 1;}
  .navbar-nav-search { order: 2;}
  s72-language-selector { order: 3; }
  .sub-nav { order: 4; }
  .navbar-nav { order: 5; }

  // Desktop Order
  @include media-breakpoint-up(md) {
    .navbar-brand-container { order: 1; }
    .navbar-nav-search { order: 2; }
    s72-language-selector { order: 3; }
    .vl { order: 4; }
    .navbar-nav { order: 5; }
    .sub-nav { order: 6; }
  }

  .navbar-brand-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    @include media-breakpoint-up(md) {
      width: auto;
      flex-grow: 1;
      padding-bottom: 0;
    } 
  }
  // Hamburger Menu Icon
  .navbar-toggler {
    z-index: 10;
    color: #ffffff;
    @include media-breakpoint-up(md) {
      display: none;
    }
    .icon-navbar-toggler {
      display: none;
    }
  }
  .navbar-nav {
    display: none;
    flex-grow: 1;
    align-self: center;
    justify-content: flex-end;
    width: 100%;
    padding-bottom: 22px;
    .btn {
      width: 100%;
    }
    @include media-breakpoint-up(md) {
      display: flex;
      flex-grow: 0;
      justify-content: flex-start;
      width: auto;
      padding-bottom: 0;
      .btn {
        width: auto;
        
      }
    }
    s72-user-anon {
      white-space: nowrap;
    }
    .nav-link {
      font-weight: 800;
      font-size: 16px;
      @extend .animate-this;
      @include media-breakpoint-up(md) {
        padding-top: $navbar-padding-y * 4;
        padding-bottom: $navbar-padding-y * 4;
      }
      @include media-breakpoint-up(xxxl) {
        font-size: 18px;
      }
      @include hover-focus {
        @extend .animate-this;
      }
    }
    .s72-username {
      max-width: 100px; //arbituary
      overflow-x: hidden;
      display: inline-block;
      text-overflow: ellipsis;
      vertical-align: bottom;
      white-space: nowrap;
    }
  }
  &.show .navbar-nav {
    display: flex;
  }

  .navbar-brand {
    min-width: $navbar-brand-min-width;
    z-index: 9;
    margin-right: auto;
    @include media-breakpoint-up(md) {
      margin: 0;  
    }

    background: url('../images/common/logo.png') left center/100% no-repeat;
    @extend .text-hide;
    @media only screen and (-webkit-min-device-pixel-ratio: 2),only screen and (min-resolution: 192dpi) {
      background: url("../images/common/logo@2x.png") left center/100% no-repeat;
    }
    @include media-breakpoint-up(md) {
      min-width: $navbar-brand-min-width-md;
    }
    @include media-breakpoint-up(lg) {
      min-width: $navbar-brand-min-width-xl;
    }
    @include media-breakpoint-up(xl) {
      min-width: $navbar-brand-min-width-xl;
    }
  }
  &.show .navbar-brand {
    visibility: hidden;
    @include media-breakpoint-up(md) {
      visibility: visible;
    }
  }


  // Unsure what these do
  .primary-nav-item,
  .primary-nav-dropdown {
    @extend .nav-item;
    @extend .active;
  }
  .primary-nav-item {
    display: none;
    @extend .d-md-block;
  }
  .primary-nav-dropdown {
    @extend .d-md-none;
    /*
    .s72-dropdown-menu {
      //background-color: $subnav-background-color;
      .dropdown-item {
        color: $subnav-nav-item-color;
        @include hover-focus{
          background-color: $subnav-nav-item-hover-background-color;
        }
      }
    }
    */
  }
  .s72-language-selector,
  .navbar-nav-user-nav {
    width: 100%;
    padding-top: 5px;
    border-top: 1px solid rgba(255,255,255,0.2);
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
      margin: 0;
      border-top: none;
    }
    .s72-btn {
      font-size: 14px;
    }
    .s72-dropdown-toggle {
      font-size: 14px;
      color: $body-color; 
      text-align: center;
      display: flex;
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 0 none;
      box-shadow: 0 none;

      @include media-breakpoint-up(md) {
        font-size: 14px;
        text-align: left;
        display: flex;
        padding: 0.375rem 0.75rem;
        padding-top: 8px;
      }
      @include media-breakpoint-up(xl) {
        font-size: 16px;
      }
      @include hover-focus {
        color: $primary;
      }
      &:after {
        display: none;
        @include media-breakpoint-up(md) {
          display: flex;
        }
      }
    }
  }



  // Actual Navigation
  .sub-nav {
    display: none;
    font-family: $font-family-base;
    flex-basis: 100%;
    flex-direction: column;
    width: 100%;
    @include media-breakpoint-up(md) {
      @extend .d-md-flex;
      flex-direction: row;
      width: auto;
      padding-top: 15px;
    }
    background-color: transparent;
    @extend .nav;
    .nav-item {
      font-size: 14px;
      font-weight: 600;
      @include media-breakpoint-up(xxxl){
        font-size: 16px;
      }
      &.active .nav-link {
        color: $subnav-nav-item-hover-background-color;
        opacity: 1;
        @include media-breakpoint-up(md) {
          border-bottom: 3px solid $subnav-nav-item-hover-background-color;
        }
      }

    }
    .nav-link {
      padding: 10px 0;
      color: $subnav-nav-item-color;
      font-size: 16px;
      transition: all .15s ease-out;
      @include media-breakpoint-up(md) {
        margin-right: 20px;
        border-bottom: 3px solid transparent;  
        @include hover-focus{
          color: $subnav-nav-item-hover-background-color;
        }
      }
    }

  }
  &.show .sub-nav {
    display: flex;
  }

  // Vertical line divider
  .vl {
    border-left: solid 1px rgba($color: $body-color, $alpha: 0.5);
    height: 25px;
    margin-left: 10px;
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  // Header Form Search
  .navbar-nav-search {
    position: relative;
    display: none;
    height: 44px;
    width: 100%;
    @include media-breakpoint-up(md) {
      display: block;
      width: auto;
    }
    .form-control-search {
      font-family: $font-family-base;
      font-weight: 600;
      color: $body-color;
      height: 100%;
      padding-left: 30px;
      padding-right: 0px;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 4px;
      width: 100%;
      @extend .animate-this;
      &::placeholder {
        transition: 0.25s ease-out;
        color: $body-color;
      }
      @include media-breakpoint-down(sm) {
        &:focus {
          box-shadow: none;
          &::placeholder {
            transition: 0.25s ease-out;
            color: transparent;
          }
        }
      }
      @include media-breakpoint-up(md) {
        font-weight: 400;
        padding-left: 40px;
        width: 105px;
        &:focus {
          border: 1px solid $primary;
          width: 200px;
        }
      }
    }
    
  }
  &.show .navbar-nav-search {
    display: block;
  }

  .search-icon  {
    position: absolute;
    top: 0;
    margin: 11px 0 9px 0;
    pointer-events: none;
    path {
      fill: $body-color;
    }
    @include media-breakpoint-up(md) {
      margin: 11px 0 9px 10px;
    }
    
  }


  .s72-dropdown-toggle {
    &:after {
      display: none;
    }
  }
  s72-dropdown {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    .s72-dropdown-toggle.nav-link {
      flex-grow: 1;
      margin-right: 0;
      border-bottom: 3px solid transparent;
      &:active, &:focus {
        color: $primary;
      }
      @include media-breakpoint-up(md) {
        &:active, &:focus {
          color: $body-color;
        }
        &:hover {
          color: $primary;
        }
        &:hover ~ .dropdown-caret {
          path {

            fill: $primary;
          }
        }
      }
    }
    .s72-dropdown-menu {
      order: 3;
      position: relative;
      flex-basis: 100%;
      background-color: $body-bg-light;
      border: 0;
      padding: 0;
      margin: 0;
      @include media-breakpoint-up(md) {
        position: absolute;
        padding: 7px 5px;
      }
      .nav-link {
        border: 0;
        padding-left: 10px;
      }
    }
    .dropdown-caret {
      align-self: center;
      pointer-events: none;
      @extend .animate-this;
      @include media-breakpoint-up(md) {
        margin-right: 16px;
      }
      path {
        transition: fill .15s ease-out;
        fill: $body-color;
      }
    }
    .show + .dropdown-caret{
      transform: rotate(180deg);
    }

  }
}

