// Navigation Container
.navigation {
  position: absolute;
  z-index: 9;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  @extend .top-gradient-bg;
}

// Hides and shows the nav on mobile
@include media-breakpoint-down(sm) {
  .navigation {
    .sub-nav, .form-search, .btn-search, .navbar-nav, s72-language-selector {
      display: none;
    }
  }
  &.show {
    .sub-nav, .form-search, .navbar-nav, s72-language-selector {
      display: flex;
    }
    .btn-search {
      display: block;
    }
    height: 100%;
    .navbar {
      background-color: rgb(48, 48, 48);
    }
  }
}


// Navbar
.navbar {
  z-index: 2;
  width: 100%;
  padding: 20px 20px 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 100%;
  @include media-breakpoint-up(md) {
    padding: 20px 50px 15px 50px;
    flex-direction: row;
    align-items: center;
  }
}
.search-show .navbar {
  background-color: $body-bg;
}

// Initial order
.navbar-brand-container { order: 1; }
.btn-search { order: 2;}
s72-language-selector { order: 3; }
.vl { order: 4; }
.navbar-nav { order: 5; }
.sub-nav { order: 6; }
.navbar-nav-search { order: 7;}

@include media-breakpoint-down(sm) {
  .navbar-brand-container { order: 1;}
  .btn-search { order: 2; }
  s72-language-selector { order: 3; }
  .navbar-nav { order: 5; }
  .sub-nav { order: 4; }
}



.navbar-brand-container {
  display: flex;
  align-items: center;
  width: 100%;
  @include media-breakpoint-up(md) {
    width: auto;
    flex-grow: 1;
  } 
}
// Hamburger Menu Icon
.navbar-toggler {
  z-index: 10;
  color: #ffffff;
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.navbar-nav {
  flex-grow: 1;
  align-self: center;
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 22px;
  .btn {
    width: 100%;
  }
  @include media-breakpoint-up(md) {
    flex-grow: 0;
    justify-content: flex-start;
    width: auto;
    padding-bottom: 0;
    .btn {
      width: auto;
      margin-left: 10px;
    }
  }
  

  s72-user-anon {
    white-space: nowrap;
  }
  .nav-link {
    font-weight: 800;
    font-size: 14px;
    @extend .animate-this;
    @include media-breakpoint-up(md) {
      padding-top: $navbar-padding-y * 4;
      padding-bottom: $navbar-padding-y * 4;
    }
    @include media-breakpoint-up(xxxl) {
      font-size: 18px;
    }
    @include hover-focus {
      @extend .animate-this;
    }
  }
  .s72-username {
    max-width: 100px; //arbituary
    overflow-x: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
  }
}
//
.navbar-brand {
  min-width: $navbar-brand-min-width;
  z-index: 9;
  margin-right: auto;
  @include media-breakpoint-up(md) {
    margin: 0;  
  }

  background: url('../images/common/logo.png') left center/100% no-repeat;
  @extend .text-hide;
  @media only screen and (-webkit-min-device-pixel-ratio: 2),only screen and (min-resolution: 192dpi) {
    background: url("../images/common/logo@2x.png") left center/100% no-repeat;
  }
  @include media-breakpoint-up(md) {
    min-width: $navbar-brand-min-width-md;
  }
  @include media-breakpoint-up(lg) {
    min-width: $navbar-brand-min-width-xl;
  }
  @include media-breakpoint-up(xl) {
    min-width: $navbar-brand-min-width-xl;
  }
}


// Unsure what these do
.primary-nav-item,
.primary-nav-dropdown {
  @extend .nav-item;
  @extend .active;
}
.primary-nav-item {
  display: none;
  @extend .d-md-block;
}
.primary-nav-dropdown {
  @extend .d-md-none;
  .s72-dropdown-menu {
    background-color: $subnav-background-color;
    .dropdown-item {
      color: $subnav-nav-item-color;
      @include hover-focus{
        background-color: $subnav-nav-item-hover-background-color;
      }
    }
  }
}
.s72-language-selector,
.navbar-nav-user-nav {
  width: 100%;
  margin: 0 40px;
  padding-top: 5px;
  border-top: 1px solid rgba(255,255,255,0.2);
  @include media-breakpoint-up(md) {
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    border-top: none;
  }
  .s72-btn {
    font-size: 14px;
  }
  .s72-dropdown-toggle {
    font-size: 14px;
    color: $body-color; 
    text-align: center;
    display: flex;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0 none;
    box-shadow: 0 none;
    @include media-breakpoint-up(md) {
      font-size: 14px;
      text-align: left;
      display: flex;
      padding: 0.375rem 0.75rem;
      padding-top: 8px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 16px;
    }
    @include hover-focus {
      color: $primary;
    }
    &:after {
      display: none;
      @include media-breakpoint-up(md) {
        display: flex;
      }
    }
  }
  .s72-dropdown-menu {
    padding: 0;
    width: 100%;
    display: block;
    border: none;
    background: $navbar-background-color; 

    @include media-breakpoint-up(md){
      border: 1px solid rgba(0, 0, 0, 0.15);
      width: 190px;
      display: none;
      background: $navbar-background-color;
      padding: $grid-gutter-width / 2;
    }
    &.show {
      @include media-breakpoint-up(md){
        display: block;
      }
    }
    .s72-dropdown-item {
      color: $dropdown-item-color;
      font-size: 12px;
      text-align: center;
      font-weight: 600;
      padding: 8px 12px;
      transition: all .25s ease-out;
      background: transparent;
      @include media-breakpoint-up(md) {
        font-size: 14px;
        text-align: left;
      }
      @include hover-focus {
        color: $primary;
        background: transparent;
      }
      &:active {
        color: $primary;
        background: #000;
      }
    }
    s72-sign-out {
      background: #141414;
      @include hover-focus {
        background: #141414;
      }
    }
    .sign-out {
      @extend .d-flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 5px;
      border-bottom: 0 none;
      @include media-breakpoint-up(md) {
        margin-top: 0;
      }
      .s72-dropdown-item {
        font-size: 14px;
      }
      p {
        margin-bottom: 0;
        @extend .s72-dropdown-item;
        @include hover-focus {
          background: transparent;
          color: #fff;
        }
      }
      s72-sign-out {
        margin-left: auto;
        width: auto;
        @include media-breakpoint-up(md) {
          width: 100%;
          margin-left: 0;
        }
      }
    }
  }
}



// Actual Navigation
.sub-nav {
  font-family: $font-family-base;
  flex-basis: 100%;
  flex-direction: column;
  width: 100%;
  @include media-breakpoint-up(md) {
    flex-direction: row;
    width: auto;
    padding-top: 15px;
  }
  background-color: transparent;
  @extend .nav;
  @extend .d-md-flex;
  .nav-item {
    font-size: 14px;
    font-weight: 600;
    @include media-breakpoint-up(xxxl){
      font-size: 16px;
    }
    &.active .nav-link {
      color: $subnav-nav-item-hover-background-color;
      opacity: 1;
      @include media-breakpoint-up(md) {
        border-bottom: 3px solid $subnav-nav-item-hover-background-color;
      }
    }
    .s72-dropdown-menu {
      background: rgba($navbar-background-color, 1);
      padding: 0 15px;
      .nav-link {
        font-size: 14px;
        margin: 0;
        white-space: nowrap;
        @include hover-focus {
          border-bottom-color: transparent;
        }
      }
    }
  }
  .nav-link {
    padding: 10px 0;
    color: $subnav-nav-item-color;
    @include media-breakpoint-up(md) {
      margin-right: 20px;
    }
  }
}

// Vertical line divider
.vl {
  border-left: solid 1px rgba($color: $body-color, $alpha: 0.5);
  height: 25px;
  margin-left: 10px;
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}

// Header Form Search
.btn-search {
  height: 46px;
  border-radius: 4px;
  padding: 0;
  border: none;
  background-color: transparent;
  @extend .animate-this;
  &:hover {
    background-color: rgba($color: $body-color, $alpha: 0.1);
  }
  @include media-breakpoint-up(md) {
    margin-left: 10px;
    width: 46px;
  }
}
.search-icon  {
  background: url(/images/icons/search.png) center no-repeat;
  padding: 0 11px;
}

.search-desktop {
  visibility: hidden; 
}
.search-show .search-desktop {
  animation: search-show 0.25s ease-out;
  animation-fill-mode: forwards; 
  z-index: 1;
  .form-control-search {
    border-radius: 0;
    border: 0;
    height: 100px;
    width: 100%;
    padding-left: 50px;
    background-color: #1a1a1a;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
  }
}

@keyframes search-show {
  0% {transform: translateY(-129px); visibility: visible;}
  100% {transform: translateY(0px); visibility: visible;}
}






.s72-dropdown-menu {
  position: relative;
  @include media-breakpoint-up(md) {
    position: absolute;
  }
}
