.navigation {
  @extend .top-gradient-bg;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9;

  &.show {
    height: 100%;
    @include media-breakpoint-between(sm, md) {
      background: none;
    }
    @include media-breakpoint-up(lg) {
      height: auto;
    }

    .navbar {
      flex-direction: column;
      height: 100%;
      min-height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
      padding-bottom: 0;
      position: fixed;
      right: 0;
      top: 0;

      @include media-breakpoint-up(sm) {
        max-width: 384px;
      }

      @include media-breakpoint-up(lg) {
        background-color: transparent;
        flex-direction: row;
        height: auto;
        max-width: 100%;
        overflow: visible;
        position: relative;
      }

      @include media-breakpoint-down(md) {
        animation: fade-in 0.25s;
        animation-fill-mode: forwards;
      }

      s72-language-selector,
      .navbar-nav,
      .sub-nav {
        animation: slidein 300ms;
      }
    }

    .navbar-nav {
      display: flex;
    }

    .navbar-toggler-container {
      align-self: flex-end;
    }

    span {
      width: 20px;
    }

    .hamburger-bottom {
      transform: rotate(45deg);
    }

    .hamburger-top {
      transform: rotate(-45deg);
    }

    .hamburger-middle {
      opacity: 0;
      width: 0;
    }

    .navbar-brand-container-tablet {
      @include media-breakpoint-between(sm, md) {
        display: block;
      }
    }

    .navbar-brand-container {
      display: none;

      @include media-breakpoint-up(lg) {
        display: flex;
      }
    }

    .navbar-nav-search {
      display: none;

      @include media-breakpoint-up(lg) {
        display: flex;
      }
    }

    .sub-nav-wrapper {
      display: flex;
    }
  }
}

.navbar {
  align-content: flex-start;
  align-items: center;
  background-color: $navbar-background-color;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  padding: 10px 20px;
  position: relative;
  transition: background-color 0.25s ease-out;
  width: 100%;
  z-index: 11;

  @include media-breakpoint-up(sm) {
    width: 100%;
  }

  @include media-breakpoint-up(lg) {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    overflow: visible;
    padding: 20px 50px;
  }
}

.sub-nav-wrapper {
  display: none;
  order: 1;
  width: 100%;

  @include media-breakpoint-up(lg) {
    display: flex;
    flex-basis: 100%;
    order: 2;
  }
}

.navbar-toggler-container {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: calc(var(--navbar-brand-padding-y) * 2);
  position: relative;
  width: 24px;
  z-index: 10;

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.navbar-toggler {
  height: 16px;
  padding: 0;
  position: relative;
  width: 24px;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 1px dotted var(--body-color);
    outline: 5px auto -webkit-focus-ring-color;
  }

  .icon-navbar-toggler {
    display: none;
  }

  span {
    background-color: var(--body-color);
    height: 2px;
    opacity: 1;
    position: absolute;
    right: 0;
    transform: rotate(0deg);
    transform-origin: right center;
    transition: 0.15s ease-in-out;
    width: 24px;
  }

  .hamburger-top {
    top: 0;
  }

  .hamburger-middle {
    top: 7px;
  }

  .hamburger-bottom {
    top: 14px;
  }
}

.navbar-brand-container {
  align-items: center;
  display: flex;
  flex-grow: 1;
  position: relative;

  @include media-breakpoint-up(lg) {
    padding-bottom: 0;
    width: auto;
  }
}

.navbar-brand {
  @extend .text-hide;

  background: url('../images/common/logo.png') left center / contain no-repeat;
  margin-right: auto;
  min-width: var(--navbar-brand-min-width);
  padding-bottom: var(--navbar-brand-padding-y);
  padding-top: var(--navbar-brand-padding-y);
  z-index: 9;

  @include media-breakpoint-up(lg) {
    margin: 0;
    padding-bottom: var(--navbar-brand-padding-y);
    padding-top: var(--navbar-brand-padding-y);
    z-index: 13;
  }

  @media only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
    background: url('../images/common/logo@2x.png') left center / contain no-repeat;
  }

  @include media-breakpoint-up(md) {
    min-width: var(--navbar-brand-min-width-md);
  }

  @include media-breakpoint-up(lg) {
    min-width: var(--navbar-brand-min-width-lg);
  }

  @include media-breakpoint-up(xl) {
    min-width: var(--navbar-brand-min-width-xl);
  }
}

.navbar-brand-container-tablet {
  background: linear-gradient(rgba($top-gradient-color, 1) 0%, rgba($top-gradient-color, 0) 100%);
  background-color: $navbar-background-color;
  display: none;
  padding: 10px 20px;
  pointer-events: none;
  position: relative;
  width: 100%;
}

.navbar-nav-search {
  align-items: center;
  border-bottom: 1px solid transparent;
  display: flex;
  height: calc(var(--navbar-brand-padding-y) * 2);
  margin-right: 20px;
  position: relative;
  transition: none;
  width: 24px;

  @include media-breakpoint-up(lg) {
    height: 44px;
    margin-right: 0;
    position: relative;
    right: 0;
    top: 0;
    transition: all 0.25s ease-out;
    width: 36px;
  }

  .form-control-search {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0;
    box-shadow: none;
    color: transparent;
    font-family: $font-family-base;
    font-weight: $font-weight-normal;
    height: 44px;
    transition: none;
    width: 100%;

    @include media-breakpoint-up(lg) {
      height: 100%;
      transition: border-bottom 0.25s ease-out;
    }

    &:focus {
      color: var(--body-color);
      margin: 0 20px;

      @include media-breakpoint-up(lg) {
        margin: 0;
      }
    }

    &::placeholder {
      color: rgba(var(--body-color-rgb), 0.8);
      font-weight: $font-weight-normal;
      opacity: 0;
      transition: 0.25s ease-out;

      @include media-breakpoint-up(lg) {
        transition: none;
      }
    }

    &:-webkit-autofill::first-line,
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      border-bottom: 1px solid var(--body-color);
      box-shadow: 0 0 0 1000px transparent inset;
      font-family: $font-family-base;
      font-size: 1rem;
      -webkit-text-fill-color: var(--body-color);
      transition: background-color 5000s ease-in-out 0s;
    }

    :input-placeholder {
      opacity: 1;
    }
  }

  .btn-search-open {
    align-items: center;
    background-color: transparent;
    border: 0;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 36px;

    &:hover {
      i {
        @extend .animate-this;

        /* stylelint-disable-next-line */
        @include media-breakpoint-up(lg) {
          color: var(--primary);
        }
      }
    }

    &:active,
    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: auto;
    }
  }

  .search-show .btn-search-open:hover {
    cursor: auto;

    /* stylelint-disable-next-line */
    i {
      color: var(--body-color);
    }
  }

  .search-icon {
    color: var(--body-color);
    font-size: 24px;
    left: 5px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: none;
  }

  .btn-search-close {
    background: transparent;
    border: 0;
    border-radius: 50%;
    color: rgba(var(--body-color-rgb), 0.7);
    height: 32px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;

    @include media-breakpoint-up(lg) {
      right: 5px;
    }

    &:hover,
    &:focus,
    &:active {
      color: rgba(var(--body-color-rgb), 1);
      outline: 0;
    }
  }

  &.search-show {
    background-color: $navbar-search-background-color;
    height: calc(calc(var(--navbar-brand-padding-y) * 2) + 20px);
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 12;

    @include media-breakpoint-up(lg) {
      background-color: transparent;
      height: 44px;
      position: relative;
      width: 200px;
    }

    .btn-search-open {
      @include media-breakpoint-down(md) {
        left: 20px;
      }
    }

    .btn-search-close {
      opacity: 1;
      pointer-events: auto;
    }

    .form-control-search {
      border-bottom: 1px solid var(--body-color);
      box-shadow: none;
      padding-left: 32px;
      padding-right: 32px;

      &::placeholder {
        opacity: 1;
      }
    }
  }
}

.form-control-search::-ms-clear,
.form-control-search::-ms-reveal {
  display: none;
  height: 0;
  width: 0;
}

.form-control-search::-webkit-search-decoration,
.form-control-search::-webkit-search-cancel-button,
.form-control-search::-webkit-search-results-button,
.form-control-search::-webkit-search-results-decoration {
  display: none;
}

s72-dropdown,
.s72-language-selector {
  position: relative;

  &:hover,
  &:focus-within {
    .s72-dropdown-toggle,
    .dropdown-caret {
      color: var(--primary);
    }
  }

  .s72-dropdown-menu {
    background-color: transparent;
    border: 0;
    flex-basis: 100%;
    margin: 0;
    max-width: 243px;
    min-width: 174px;
    padding: 0 30px 0 0;
    position: relative;
    top: 0;
    width: 100%;

    @include media-breakpoint-up(lg) {
      background-color: $subnav-dropdown-background;
      border: 4px solid $subnav-dropdown-background;
      box-shadow: 0 0 0 1px rgba(var(--body-color-rgb), 0.12);
      max-height: 330px;
      max-width: 243px;
      overflow-y: auto;
      padding: 0;
      position: absolute;
      top: 100%;
      width: max-content;

      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background: $subnav-dropdown-background;
      }

      &::-webkit-scrollbar-thumb {
        background: rgba(var(--body-color-rgb), 0.4);
        border-radius: 10px;
        transition: all 0.25s ease-out;

        /* stylelint-disable-next-line */
        &:hover {
          background: rgba(var(--body-color-rgb), 0.5);
        }
      }
    }

    .s72-dropdown-item,
    .nav-link {
      border: 0;
      color: var(--body-color);
      font-size: 16px;
      font-weight: $font-weight-normal;
      padding: 8px 0;
      @include media-breakpoint-up(lg) {
        margin: 3px 5px;
        padding: 5px 15px 5px 10px;
        width: auto;
      }

      @include hover-focus {
        background-color: transparent;
        color: var(--primary);
      }
    }
  }

  .dropdown-caret {
    @extend .animate-this;

    font-size: 22px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 11px;
  }

  .show + .dropdown-caret {
    transform: rotate(-180deg);
  }
}

.navbar-nav {
  align-self: center;
  display: none;
  flex-grow: 1;
  order: 2;
  padding: 0;
  width: 100%;

  @include media-breakpoint-up(lg) {
    border: 0;
    display: flex;
    flex-grow: 0;
    justify-content: flex-start;
    order: 1;
    padding: 0;
    width: auto;

    .s72-dropdown-menu {
      position: absolute;
    }
  }

  s72-sign-out {
    display: flex;
    margin-top: auto;

    .btn-sign-out {
      background-color: transparent;
      border: 0;
      color: var(--body-color);
    }

    /* stylelint-disable-next-line */
    &.sign-out-desktop {
      display: none;

      @include media-breakpoint-up(lg) {
        display: flex;
        margin: 3px 5px;
        padding: 0;
      }
    }

    .btn-sign-out {
      @extend .animate-this;
      @include hover-focus {
        color: var(--primary);
        text-decoration: none;
      }
    }

    .btn-sign-out-desktop {
      @include hover-focus {
        color: var(--primary);
      }

      @include media-breakpoint-up(lg) {
        padding: 5px 15px 5px 10px;
        width: 100%;
      }
    }

    .btn-sign-out-mobile {
      background-color: $signout-background;
      border-radius: 4px;
      color: $signout-text-color;
      padding: 8px 56px;
      text-align: center;
      width: 100%;
      @include hover-focus {
        background-color: $signout-background-hover;
        color: $signout-text-color-hover;
      }
      @include media-breakpoint-up(lg) {
        display: none;
      }
    }
  }

  .btn {
    width: 100%;

    @include media-breakpoint-up(lg) {
      width: auto;
    }
  }

  &.navbar-logged-out {
    flex-direction: column-reverse;
    flex-grow: 0;

    @include media-breakpoint-up(lg) {
      flex-grow: 0;
    }
  }

  s72-user-anon {
    padding: 20px 0;
  }

  s72-user-known {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 20px;
    padding: 10px 0 20px;

    @include media-breakpoint-up(lg) {
      margin-left: 12px;
      margin-top: 0;
    }

    .navbar-nav-user-nav {
      margin-bottom: 15px;

      @include media-breakpoint-up(lg) {
        margin-bottom: 0;
      }
    }

    .s72-dropdown-toggle {
      @include media-breakpoint-up(lg) {
        padding: 10px 20px 10px 0;
      }
    }

    .dropdown-caret {
      top: 8px;

      @include media-breakpoint-up(lg) {
        top: 12px;
      }
    }
  }

  s72-user-known,
  s72-user-anon {
    border-top: 1px solid rgba(var(--body-color-rgb), 0.1);

    @include media-breakpoint-up(lg) {
      border: 0;
      padding: 0;
    }
  }

  hr {
    border-top: 1px solid rgba(var(--body-color-rgb), 0.1);
    display: none;
    margin: 0 15px 5px;

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  .s72-dropdown-toggle {
    path {
      fill: var(--body-color);
    }

    &:hover,
    &:focus {
      path {
        @extend .animate-this;

        fill: var(--primary);
      }
    }
  }

  .nav-link {
    @extend .animate-this;

    font-size: 16px;
    font-weight: $font-weight-normal;

    @include media-breakpoint-up(lg) {
      padding-bottom: $navbar-padding-y * 4;
      padding-top: $navbar-padding-y * 4;
    }

    @include media-breakpoint-up(xxxl) {
      font-size: 18px;
    }

    @include hover-focus {
      @extend .animate-this;
    }
  }

  .username-mobile {
    padding-left: 6px;

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  .username-desktop {
    display: none;

    @include media-breakpoint-up(lg) {
      color: var(--primary);
      display: inline-block;
      font-weight: $font-weight-bold;
      padding: 8px 0 4px 15px;
    }
  }
}

.navbar-nav-user-nav {
  width: 100%;

  @include media-breakpoint-up(lg) {
    width: auto;
  }

  .s72-dropdown-toggle {
    display: flex;
    padding-left: 0;
    padding-right: 20px;

    &:focus {
      box-shadow: none;
    }

    &:focus-visible {
      outline: 1px dotted var(--body-color);
      outline: 5px auto -webkit-focus-ring-color;
    }
  }

  .s72-dropdown-item {
    @extend .animate-this;
  }

  .s72-username {
    @include media-breakpoint-up(lg) {
      overflow: hidden;
      width: 124px;
    }
  }
}

.vertical-line {
  border-left: solid 1px rgba(var(--body-color-rgb), 0.5);
  display: none;
  height: 25px;
  margin: 0 12px;

  @include media-breakpoint-up(lg) {
    align-self: center;
    display: block;
  }
}

.sub-nav {
  @extend .nav;

  background-color: transparent;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  font-family: $font-family-base;
  width: 100%;

  @include media-breakpoint-up(lg) {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    width: auto;
  }

  .nav-item {
    font-size: 16px;
    font-weight: $font-weight-normal;

    &.active .nav-link {
      color: $subnav-nav-item-hover-background-color;
      opacity: 1;

      @include media-breakpoint-up(lg) {
        border-bottom: 3px solid $subnav-nav-item-hover-background-color;
      }
    }
  }

  .nav-link {
    color: $subnav-nav-item-color;
    font-size: 16px;
    padding: 10px 0;
    transition: color 0.25s ease-out;

    @include media-breakpoint-up(lg) {
      border-bottom: 3px solid transparent;
      margin-right: 20px;
    }

    &:hover {
      color: $subnav-nav-item-hover-background-color;
    }
  }

  .s72-dropdown-toggle.nav-link {
    margin-right: 0;
    padding-right: 40px;
  }

  .dropdown-caret {
    @include media-breakpoint-up(lg) {
      right: 15px;
    }
  }
}

.s72-dropdown-toggle {
  &::after {
    display: none;
  }
}

.header-banner {
  align-items: center;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  min-height: 26px;
  text-align: center;
  z-index: 10;

  .header-banner-message {
    font-size: 12px;
    margin-bottom: 0;
    @include media-breakpoint-up(sm) {
      font-size: 14px;
    }
  }
}

// Styles for tablet navigation
.no-scroll {
  .header-banner {
    opacity: 0.2;
    @include media-breakpoint-up(lg) {
      opacity: 1;
    }
  }
}

.s72-tablet-backdrop {
  opacity: 0;
  transition: opacity 0.25s;
}

.navigation.show .s72-tablet-backdrop {
  display: none;
  @include media-breakpoint-between(sm, md) {
    background-color: rgba(0, 0, 0);
    display: block;
    height: 100%;
    opacity: 0.4;
    position: absolute;
    width: 100%;
  }
}
