.page {
  flex: 1 0 auto;

  @include media-breakpoint-up(md) {
    padding-bottom: $grid-gutter-width;
  }
}

.form-page {
  @include media-breakpoint-up(md) {
    padding-bottom: $grid-gutter-width * 4;
  }
}

.page-header {
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  @include media-breakpoint-up(lg) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.page-content {
  margin-bottom: $headings-margin-bottom * 4;
}

.separator {
  border-bottom: 1px solid rgba(var(--body-color-rgb), 0.2);
  margin: 0 20px;

  @include media-breakpoint-up(lg) {
    margin: 0 50px;
  }
}

.curated-page,
.library-page,
.content-page,
.form-page,
.wishlist-page,
.search-page,
.collection-page,
.devices-page,
.plans-page,
.carousel-len-0 {
  padding-top: var(--page-padding-top);
  @include media-breakpoint-up(md) {
    padding: var(--page-padding-top-md) 0 0 0;
  }
  @include media-breakpoint-up(lg) {
    padding: var(--page-padding-top-lg) 0 0 0;
  }

  h1 {
    @include heading-2-style;
  }
}

.form-page {
  @include media-breakpoint-up(xl) {
    padding: var(--page-padding-top-lg) 0 0 0;
  }
  .page-header {
    h1,
    p {
      margin-left: auto;
      margin-right: auto;
      max-width: 400px;
      text-align: center;
    }
    p {
      @include heading-4-style;
    }
  }

  s72-useraccount-form {
    margin: 0;
  }
}

.content-page,
.curated-page {
  .page-content {
    max-width: 1100px;
    padding: 20px 20px 0;
    @include media-breakpoint-up(lg) {
      padding: 20px 50px 0;
    }

    p {
      word-wrap: break-word;
    }

    strong {
      @include caption-1-style;
    }

    a:not(.signup-link) {
      @include a;
    }
  }
}

// Curated pages with at least one collection shouldn't have a minimum height which forces a gap before the collection(s)
.curated-collection-page {
  .page-content {
    min-height: auto;
  }
}

.content-page p img,
.page-header p img {
  width: auto;
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.collection-page {
  .page-collections {
    @extend .d-flex;
    flex-wrap: wrap;
    padding: 20px 15px 0;
    @include media-breakpoint-up(md) {
      padding-left: 45px;
      padding-right: 45px;
    }

    .page-collection-item {
      @extend .col-4;
      @extend .col-md-3;
      @extend .col-xl-2;
      padding: 0 5px 10px;
    }
  }
}

.curated-page {
  .page-collections {
    padding-top: 20px;

    .page-collection-list-title {
      padding-left: 5px;
    }

    .page-collection-item {
      @extend .col-4;
      @extend .col-md-3;
      @extend .col-xl-2;
    }
  }

  .s72-subscribe-trial-label {
    display: none;
  }
}

.wishlist-page,
.library-page,
.search-page,
.devices-page,
.plans-page {
  .page-header {
    h1 {
      margin-bottom: $headings-margin-bottom;
    }

    p {
      @include heading-4-style;
    }
  }

  .s72-plans,
  .s72-userwishlist-items,
  .s72-userlibrary-items,
  .s72-searchresults-results,
  .s72-userdevices {
    flex-wrap: wrap;
    padding: 20px;
    @include media-breakpoint-up(lg) {
      padding: 20px 50px;
    }

    .s72-userdevices-device {
      max-width: 600px;
    }

    .partial {
      @extend .col-6;
      @extend .col-sm-4;
      @extend .col-md-3;
      @extend .col-lg-3;
      @extend .col-xl-2;
      padding: 0 5px 5px;
    }
  }
}

.page-bg {
  height: 422px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  @include media-breakpoint-up(xl) {
    left: 0;
    max-width: 100%;
    width: 100%;
  }

  s72-image {
    position: relative;
    width: auto;
    @include media-breakpoint-up(md) {
      float: right;
    }

    &::before {
      @extend .left-gradient-bg;
      bottom: 0;
      content: '';
      height: 100%;
      left: -1px;
      position: absolute;
      top: 0;
      width: 50%;
      z-index: 8;
    }

    img {
      height: 422px;
      margin-left: -200px;
      opacity: 0.5;
      width: auto;
      @include media-breakpoint-up(md) {
        height: 422px;
        margin-left: 0;
      }
    }
  }

  &::after {
    @extend .bottom-gradient-bg;
    bottom: 0;
    content: '';
    height: 350px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 10;
  }
}

.not-found {
  background: transparent;
  padding-bottom: $grid-gutter-width;
  padding-top: var(--page-padding-top);
  @include media-breakpoint-up(md) {
    padding-bottom: $grid-gutter-width;
    padding-top: var(--page-padding-top-md);
  }
  @include media-breakpoint-up(lg) {
    padding-bottom: $grid-gutter-width * 3;
    padding-top: var(--page-padding-top-lg);
  }

  .text-center {
    margin: 0 auto;
    max-width: 660px;

    h2 {
      text-align: center;
    }
  }
}

.acceptinvite-invalid-token {
  @include heading-4-style;
}
