
.plan-page-link {
  @extend .s72-btn-purchase;
}

s72-plan-label {
  .s72-plan-owned {
    @extend .availability-state;
    @extend .d-inline;
    color: $button-text-color;
  }
}

.plan {
  .poster {
    s72-plan-label {
      @extend .position-absolute;
      @extend .mx-auto;

      z-index: 99;
      left: 5px !important;
      top: 5px;

      .s72-plan-owned {
        @extend .availability-bg;

        background-color: $button-background;
      }
    }
  }

  s72-pricing-buttons:not(.s72-show) {
    @extend .m-0;
  }

  .plan-caption-details .s72-plan-owned {
    @extend .d-inline-block;
    @extend .availability-bg;
    @extend .mb-p5;

    background-color: $button-background;
  }
}