.plan-page-link {
  @extend .s72-btn-purchase;
}

s72-plan-label {
  .s72-plan-owned {
    @extend .availability-state;
    color: $button-text-color;
    display: inline;
  }
}

/* stylelint-disable selector-max-compound-selectors, max-nesting-depth */
.plans-page {
  .plans-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    max-width: 1920px;
    padding: 0 20px;
    width: 100%;
    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    }
    @include media-breakpoint-up(lg) {
      padding: 0 50px;
    }
  }

  .plan {
    .plan-card {
      border: 0;
      box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.1);
      color: #343a40;
      height: 100%;
      max-width: 580px;

      .plan-container {
        @include border-radius($border-radius);
        background-color: rgb(255, 255, 255);

        display: flex;
        flex-direction: column;
        height: 100%;

        .plan-poster {
          width: 100%;
        }

        .plan-caption-details {
          p {
            margin-bottom: 10px;
          }

          h2 {
            @include heading-3-style;
          }
        }

        .plan-caption-details-container {
          display: flex;
          flex: 1 1 auto;
          flex-direction: column;
          justify-content: space-between;
          min-height: 1px;
          padding: 20px;
        }

        s72-plan-label {

          left: 0;
          margin: 0 auto;
          position: absolute;
          top: 0;
          z-index: 99;
        }

        s72-pricing-buttons:not(.s72-show) {
          margin: 0;
        }

        .plan-caption-details .s72-plan-owned {

          background-color: var(--primary);
          border-radius: $border-radius 0 $border-radius 0;
          display: inline-block;
          line-height: 20px;
          padding: 0 5px;
        }

        s72-user-anon a {
          margin-top: 0.5rem;
        }
      }
    }
  }
}

.curated-plan-page {
  // Fix some spacing under the h1
  h1 {
    line-height: 1;
  }

  // Hide the separator if this is a curated collection page
  + .separator {
    border: 0;
  }

  // Hide the titles of any collections
  .page-collection-list-title,
  .swiper-title {
    display: none;
  }

  .signup-link {
    display: inline !important;
  }
}

.s72-subscribe-trial-label {
  display: none;
  flex-grow: 1;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  width: 1px;

  @include media-breakpoint-up(md) {
    display: block;
    margin: 4px 0 0 18px;
  }
}
