.post-page,
.posts-feed-page {
  & {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    width: var(--page-reading-column-width);
    max-width: calc(min(95vw, 1100px));
  }

  .post-title {
    @include heading-2-style();
    margin-bottom: 0.5rem;
    line-height: 1.3;

    & > a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .post-meta {
    display: flex;
    flex-wrap: wrap;
    opacity: 0.7;
    font-size: var(--body-2-style-font-size);
    margin-bottom: 1rem;
  }

  .post-published-date::first-letter {
    text-transform: capitalize; // icky hack for dates like "yesterday 10:32am" maybe the s72-time component needs a 'format' prop so we can force short dates?
  }

  .post-header-image {
    margin-bottom: 1rem;

    s72-image {
      display: flex;
      flex-direction: column;
      aspect-ratio: 1200 / 422;

      border-radius: 0.5rem;
      overflow: hidden;

      transition: background-color 0.25s ease;
      background-color: var(--poster-skeleton-background-color);

      &.s72-image--loaded {
        background-color: transparent;
        aspect-ratio: unset;
      }

      img {
        transition: opacity 0.25s ease;
        opacity: 0;
        &.s72-image--loaded {
          opacity: 1;
        }
      }

    }
  }

  .post-body {
    &, & p {
      word-wrap: break-word;
      font-weight: var(--post-body-font-weight);
      line-height: var(--post-body-line-height);
    }

    strong {
      font-weight: bolder;
    }

    a {
      @include a;
    }
  }

  comment-section {
    padding: 0;
    margin-top: 3rem;
  }

}

.posts-feed-page {
  .post-preview + .post-preview {
    margin-top: var(--posts-feed-spacing);
  }

  .post-preview-show-more {
    text-align: center;
    opacity: 0.7;
  }

  // Overflow behaviour: js in the template applies a .post-preview--overflowed class
  .post-preview {
    .post-body {
      max-height: var(--post-preview-height);
    }

    .post-preview-show-more {
      display: none;
    }

    &.post-preview--overflowed {
      .post-preview-show-more { display: block; }
      .post-body {
        mask-image: linear-gradient(180deg, #000 72%, transparent);
      }
    }
  }

  .posts-pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    padding-top: 2rem;
    border-top: 1px solid #fff5;

    .posts-pagination-next {
      margin-left: auto;
    }
  }
}
