.poster {
  border-radius: $poster-border-radius;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;

  .poster-overlay-top {
    @extend .d-flex;
    @extend .justify-content-between;
    @extend .position-absolute;

    @extend .mw-100;
    width: 100%;

    z-index: 99;

    s72-availability-status {
      @extend .pr-p5;
      color: $button-text-color;
      min-width: 0;
      position: unset;
      z-index: unset;

      /* stylelint-disable selector-max-compound-selectors */
      .availability-bg {
        @extend .text-truncate;
      }
      /* stylelint-enable selector-max-compound-selectors */
    }
  }
}

.poster-image {
  height: auto;
  max-width: 100%;
  position: relative;
  width: 100%;
}
