.poster {
  border-radius: $poster-border-radius;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;

  background-color: var(--poster-skeleton-background-color);

  s72-availability-status,
  s72-plan-label {
    color: $button-text-color;
  }

  .poster-overlay-top {
    @extend .d-flex;
    @extend .justify-content-between;
    @extend .position-absolute;

    @extend .mw-100;
    width: 100%;

    z-index: 99;

    s72-availability-status {
      @extend .pr-p5;
      min-width: 0;
      position: unset;
      z-index: unset;

      /* stylelint-disable selector-max-compound-selectors */
      .availability-bg {
        @extend .text-truncate;
      }
      /* stylelint-enable selector-max-compound-selectors */
    }
  }
}

.poster-image {
  height: auto;
  max-width: 100%;
  position: relative;
  width: 100%;

  // setting aspect ratios for posters helps prevent layout shift as images load
  // in and improves the effectiveness of image lazy-loading because the images
  // don't all collapse down to zero height.
  &.poster-image-portrait {
    aspect-ratio: var(--poster-portrait-aspect-ratio);
  }

  &.poster-image-landscape {
    aspect-ratio: var(--poster-landscape-aspect-ratio);
  }

  &.s72-image--loaded {
    // once poster images load in, let them be their intrinsic dimensions. This
    // handles cases where the actual image size doesn't match the configured
    // size in the css a bit better, while still keeping layouts stable in nor
    aspect-ratio: unset;
  }
}

s72-image .poster-image {
  opacity: 0;
  transition: opacity 0.25s ease;

  &.s72-image--loaded {
    opacity: 1;
  }
}
