.poster {
  border-radius: $poster-border-radius;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;

  s72-availability-status {
    left: $meta-item-availability-tag-margin;
    top: $meta-item-availability-tag-margin;
  }

  s72-availability-label {
    bottom: $meta-item-availability-tag-margin;
    left: $meta-item-availability-tag-margin;
  }

  .poster-overlay-top {
    @extend .d-flex;
    @extend .justify-content-between;
    @extend .position-absolute;

    @extend .p-p5;
    @extend .mw-100;

    z-index: 99;
    width: 100%;

    s72-availability-status {
      position: unset; z-index: unset;
      min-width: 0px;
      @extend .pr-p5;

      .availability-bg {
        @extend .text-truncate;
      }
    }
  }
}

.poster-image {
  height: auto;
  max-width: 100%;
  position: relative;
  width: 100%;
}