.s72-share-modal {
  .s72-modal-dialog {
    top: 50%;
    transform: translateY(-50%);
    max-width: 320px;
    padding: 0;

    @include media-breakpoint-up(sm){
      top: 90px;
      transform:none;
    }
    .s72-modal-content {
      padding: 0;
    }
  }

  .s72-modal-content {
    background: none;
    border: unset;
  }

  ul {
    @extend .mb-0;
  }

  li {
    @extend .position-relative;
    i {
      @extend .position-absolute;
      left: -30px;
    }
  }

  a {
    @extend .text-dark;
    text-decoration: inherit;
    line-height: 3rem;
    display: flex;
    align-items: center;
  }
}

// Close gap if wishlist button isn't present
s72-userwishlist-button:empty + .social-media-buttons {
  margin-left: -10px;
}

.fa-letterboxd::before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlnsXlink="http://www.w3.org/1999/xlink" width="16px" height="16px" viewBox="0 0 334.79999 128" version="1.1"><g transform="matrix(1.3333333,0,0,-1.3333333,0,128)"> <g transform="scale(0.1)"> <path d="M 857.793,735.43 C 775.559,870.309 630.23,960 464.551,960 207.984,960 0,745.098 0,480 0,214.902 207.984,0 464.551,0 630.23,0 775.559,89.6914 857.793,224.574 812.684,298.559 786.488,386.098 786.488,480 c 0,93.906 26.196,181.441 71.305,255.43"/> <path d="M 1648.76,728.125 C 1567.38,867.098 1419.72,960 1251.04,960 1085.36,960 940.031,870.309 857.793,735.43 902.902,661.441 929.102,573.906 929.102,480 c 0,-93.902 -26.2,-181.441 -71.309,-255.426 C 940.031,89.6914 1085.36,0 1251.04,0 c 168.68,0 316.34,92.9023 397.72,231.875 -42.4,72.41 -66.82,157.316 -66.82,248.125 0,90.809 24.42,175.719 66.82,248.125"/> <path d="m 2046.49,960 c -168.68,0 -316.34,-92.902 -397.73,-231.875 42.41,-72.406 66.83,-157.316 66.83,-248.125 0,-90.809 -24.42,-175.715 -66.83,-248.125 C 1730.15,92.9023 1877.81,0 2046.49,0 c 256.56,0 464.55,214.902 464.55,480 0,265.098 -207.99,480 -464.55,480"/> </g> </g> </svg>');
}
