.s72-shopping-modal {
  font-family: $font-family-base;

  .s72-buttons {
    text-align: right;
  }
}

.s72-modal-header {
  &.s72-shopping-modal-header {
    flex-direction: column;
    padding: 0;

    .s72-btn-close {
      background: transparent;
      color: var(--body-color);
      display: block;
      height: 30px;
      line-height: 30px;
      opacity: 1;
      position: absolute;
      right: 0;
      text-shadow: none;
      text-transform: uppercase;
      top: 0;
      width: 30px;
      z-index: 999;

      &:hover {
        color: var(--body-color-hover);
      }
    }
  }

  &.s72-shopping-header-price {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
}

.s72-modal-content {
  .s72-modal-body {
    padding-left: 0;
    padding-right: 0;
  }
}

.s72-price-line {
  margin-bottom: $modal-inner-padding;

  &:last-child {
    margin-bottom: 0;
  }
}

.s72-price-title {
  font-weight: $font-weight-bold;
}

.s72-price {
  font-weight: $font-weight-bold;
  text-align: right;

  s {
    font-size: 90%;
    font-weight: normal;
    margin-right: 0.5em;
  }
}

.s72-price-discount {
  font-size: 90%;
}

.s72-combined-auth-email {
  @extend .d-flex;
  background: rgba(var(--body-color-rgb), 0.1);
  border: 0 none;
  color: var(--body-color);
  font-weight: $font-weight-normal;
  justify-content: space-between;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 0;

  span {
    @extend .d-flex;
    flex-direction: column;
    justify-content: center;
  }

  .s72-btn-combined-auth-change {
    border-radius: 0 4px 4px 0;
    text-transform: capitalize;
  }
}

.s72-shopping-thinking {
  font-size: 4rem;
  text-align: center;
}

.s72-shopping-error {
  @extend .alert;
  @extend .alert-danger;
  border-radius: 0;
  margin-bottom: 0;
}

.s72-modal-dialog {
  margin: auto;
  padding: 20px;

  @include media-breakpoint-up(md) {
    margin: 20px auto;
  }
}

.s72-shopping-modal-header-title {
  padding: $modal-inner-padding 0;
  text-align: center;
  width: 100%;

  h4,
  p {
    margin-bottom: 0;
  }

  .s72-btn-close:disabled {
    opacity: 0.15;
  }
}

.s72-shopping-info-meta,
.s72-shopping-info-live-event {
  margin: 0;
  padding: 10px 0 0;

  li {
    color: rgba(var(--body-color-rgb), 0.8);
    font-size: 12px;
    list-style-type: none;
    text-align: left;
  }
}

.s72-shopping-modal-header-image {
  @extend .poster;
  background: transparent;
  text-align: center;

  img {
    max-height: 280px;
    width: 158px;
  }
}

.s72-shopping-item-info {
  p {
    color: var(--body-color);
    font-size: 14px;

    a {
      @include a;
      display: block;
      font-size: 12px;
    }
  }

  /* stylelint-disable selector-no-qualifying-type */
  ul.s72-shopping-info-plan {
    text-align: left;
  }
  /* stylelint-enable selector-no-qualifying-type */
}

.s72-shopping-info-credit {
  @extend .list-unstyled;
  margin-bottom: 0;
}

.s72-shopping-modal-promo-code {
  width: 100%;
}

.s72-shopping-modal-promo-code-check {
  font-size: 90%;
}

.s72-shopping-done {
  /* stylelint-disable-next-line */
  div div p {
    color: var(--body-color);
    font-size: 20px;
    font-weight: $font-weight-bold;
    margin-bottom: 5px;
    text-align: center;

    /* stylelint-disable-next-line */
    &:nth-child(2),
    &:nth-child(3) {
      display: none;
    }
  }

  div p {
    color: var(--body-color);
    display: block;
    font-size: 12px;
    text-align: center;
  }

  .s72-show {
    .s72-btn-play {
      margin: 0 auto;
    }
  }
}

.s72-shopping-modal-promo-code-form {
  @extend .form-inline;
  margin-top: 0.5rem;

  .s72-form-group {
    flex: 1;
    padding-right: $modal-inner-padding;
  }

  .s72-control-inputs,
  .s72-form-control {
    width: 100%;
  }

  .s72-buttons {
    align-self: start;
  }
}

.s72-modal-footer {
  padding-left: 0;
  padding-right: 0;

  p {
    a {
      @include a;
    }
  }
}

.s72-payment-methods-container {
  @extend .mb-3;

  .s72-payment-methods-header {
    @extend .mb-2;
    font-weight: $font-weight-bold;
  }

  .s72-payment-methods {
    border-color: transparent;
  }

  .s72-payment-method {
    @extend .d-flex;

    background-color: $white;

    border-top: 1px solid $gray-300;
    color: $black;
    font-weight: $font-weight-bold;
    padding: 1rem;

    @include hover-focus {
      background: $gray-300;
      cursor: pointer;
    }

    &:first-child {
      @include border-top-radius($border-radius);
      border-top: unset;
    }

    &:last-child {
      @include border-bottom-radius($border-radius);
    }

    .s72-payment-method-name {
      @extend .flex-grow-1;
    }

    .s72-icon {
      color: var(--primary);
    }
  }
}
