s72-slider .s72-slider-control,
s72-userwishlist .s72-slider-control {
  background-color: $primary;
  border: 1px solid $primary;
  border-radius: 50%;
  font-family: $font-family-base;
  height: $slider-control-height;
  left: -$slider-control-width / 2;
  margin-top: 0;
  width: $slider-control-width;
  z-index: 10;

  &.right {
    left: auto;
    right: -$slider-control-width / 2;
  }

  .s72-icon {
    color: #fff;
    display: inline-block;
    font-size: 32px;
    left: 50%;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  &:hover,
  &:active,
  &:focus {
    background: darken($primary, 7.5%);
  }
}

@for $i from 1 through 10 {
  $width: round($page-collection-container-width / $i);
  $child-width: $width - ($page-collection-item-padding-horizontal * 2);
  .slider-#{$i} {
    &.slider-landscape .s72-slider-control {
      top: ($child-width * $poster-landscape-size-ratio) / 2 - ($slider-control-height / 2);
    }

    &.slider-portrait .s72-slider-control {
      top: ($child-width * $poster-portrait-size-ratio) / 2 - ($slider-control-height / 2);
    }
  }
}

/* stylelint-disable selector-no-qualifying-type */
s72-userwishlist[mode='slider'].s72-slider-fluid.has-prev::before,
s72-slider.has-prev::before {
  @extend .slider-fade-in;
}

s72-userwishlist[mode='slider'].s72-slider-fluid.has-next::after,
s72-slider.has-next::after {
  @extend .slider-fade-out;
}

s72-slider.has-prev.s72-slider-scroll::before,
s72-slider.has-next.s72-slider-scroll::after {
  width: 50px;
}
/* stylelint-enable selector-no-qualifying-type */

.slider-fade-in {
  @include gradient-x(rgba($body-bg, 0.9), transparent, 0%, 100%);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100px;
  z-index: 5;
}

.slider-fade-out {
  @extend .slider-fade-in;
  @include gradient-x(transparent, rgba($body-bg, 0.9), 0%, 100%);
  left: auto;
  right: 0;
}

.slider {
  width: 100%;
}

.slider-fluid {
  position: relative;

  s72-slider {
    position: static;
  }

  .s72-slider-fluid {
    .s72-slider-container-container {
      @extend .container;
      position: static;
    }
  }
}
