.social-media-buttons {
  @extend .d-flex;
  flex-direction: row;
  padding-bottom: 3px;
  padding-top: 2px;
}

.social-media-buttons-title {
  align-self: center;
  display: flex;
  padding-right: 10px;

  h2,
  h5 {
    align-self: center;
    color: $body-color;
    font-family: $font-family-base;
    font-size: 12px;
    font-weight: $font-weight-bold;
    margin: 0;
  }
}

.btn-social {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 32px;
  line-height: 1;
  padding: 0;
  position: relative;
  width: 32px;
  @include hover-focus {
    background-color: $primary;
    border: 2px solid $primary;
    .fa {
      color: #fff;
    }
  }

  .fa {
    color: #000;
    font-size: 14px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
