@mixin typography-style($font-size, $letter-spacing:null, $font-weight:null, $margin-bottom:null, $font-color:null, $line-height:null) {
  font-size: $font-size;
  letter-spacing: $letter-spacing;
  font-weight: $font-weight;
  margin-bottom: $margin-bottom;
  color: $font-color;
  line-height: $line-height;
}

@mixin h1-style() {
  @include typography-style(35px, 0.8px, $font-weight-normal, 8px, var(--body-color));
  @include media-breakpoint-up(xs) {
    @include typography-style(45px);
  }
  small {
    @include typography-style(24px);
  }
}

@mixin h2-style() {
  @include typography-style(29px, 0.6px, $font-weight-normal, 4px);
  @include media-breakpoint-up(sm) {
    @include typography-style(35px);
  }
}

@mixin h3-style() {
  @include typography-style(20px, 0, $font-weight-normal);
  @include media-breakpoint-up(sm) {
    @include typography-style(23px, 0.4px);
  }
}

@mixin h4-style() {
  @include typography-style(18px, null, $font-weight-light, 12px);
}

@mixin paragraph-style() {
  @include typography-style(16px, 0.5px, $font-weight-light, null, null, 23px);
}

@mixin body-2-style() {
  @include typography-style(14px, 0.4px);
}

@mixin subtitle-1-style() {
  @include typography-style(16px, 0.2px, $font-weight-light, 2px);
}

@mixin subtitle-2-style() {
  @include typography-style(14px, 0.2px, $font-weight-normal, 12px);
}

@mixin caption-1-style() {
  @include typography-style(16px, 0.5px, $font-weight-bold);
}

@mixin overline-style() {
  @include typography-style(14px, 0.8px, $font-weight-light);
}

h1 {
  @include h1-style();
}

h2 {
  @include h2-style();
}

h3 {
  @include h3-style();
}

h4 {
  @include h4-style();
}

p {
  @include paragraph-style();
}