@use 'sass:math';

// This file contains any variables used by the site.
// These variables should be reasonably generic so that overrides are placed in main.scss.

:root {
  --primary-rgb: 0, 163, 255;
  --secondary-rgb: 102, 199, 255;
  --body-color-rgb: 255, 255, 255;
  --body-bg-rgb: 15, 15, 15;
  --body-bg-accent-rgb: 25, 25, 25; // darken(body-bg, 10%) OR lighten(body-bg, 10%)
  --link-color-hover-rgb: 217, 217, 217; // darken(body-color, 15%)
  --input-focus-border-color-rgb: 131, 210, 216; // lighten(primary, 25%)

  --primary: rgb(var(--primary-rgb));
  --secondary: rgb(var(--secondary-rgb));
  --body-color: rgb(var(--body-color-rgb));
  --body-bg: rgb(var(--body-bg-rgb));
  --body-bg-accent: rgb(var(--body-bg-accent-rgb));
  --link-color: var(--body-color);
  --link-color-hover: rgb(var(--link-color-hover-rgb));
  --input-focus-border-color: rgb(var(--input-focus-border-color-rgb));

  --input-height: 40px;

  --navbar-brand-padding-y: 25px;
  --navbar-brand-min-width: 126px;
  --navbar-brand-min-width-md: 126px;
  --navbar-brand-min-width-lg: 126px;
  --navbar-brand-min-width-xl: 126px;

  --carousel-height: 560px;
  --carousel-height-lg: 620px;

  // "Empty" container used to push down content below the carousel. 
  // Carousel height - Height of anything above the carousel + 30px.
  --s72-carousel-height: 480px;
  --s72-carousel-height-sm: 480px; // 550 - 100 + 30
  --s72-carousel-height-lg: 478px; // 620 - 172 + 30
}

// Bootstrap 4 overrides START
$input-btn-focus-color: rgba(var(--primary-rgb), 0.25) !default;
$input-focus-border-color: var(--input-focus-border-color) !default;
$custom-control-indicator-checked-disabled-bg: rgba(var(--primary-rgb), 0.5) !default;
$progress-bar-bg: var(--primary) !default;
$body-color: var(--body-color) !default;
$body-bg: var(--body-bg) !default;
$body-bg-accent: var(--body-bg-accent) !default;
$error-color: var(--body-color) !default;
$error-background: rgba(var(--body-color-rgb), 0.1) !default;
$hr-border-color: rgba(var(--body-color-rgb), 0.5) !default;
$list-group-bg: var(--body-bg) !default;
$list-group-border-color: rgba(var(--body-color-rgb), 0.125) !default;
// Bootstrap 4 overrides END

// Bootstrap variables copied here, that some of the below are dependent on.
$grid-gutter-width-base: 30px !default;

// An extra XXL breakpoint added to the default set.
// NOTE(gscragg): I would not advise changing these 2 variables here without consulting me first.
$grid-breakpoints: (
  xxxs: 0,
  xxs: 320px,
  xs: 568px,
  sm: 667px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1600px,
) !default;

$container-max-widths: (
  xxxs: 0,
  xxs: 320px,
  xs: 568px,
  sm: 667px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1600px,
) !default;

$spacer: math.div(5, 8) * 1rem; // 10px

$spacers: (
  '0': 0,
  'p5': $spacer * 0.5,
  // 5px
  'p75': $spacer * 0.75,
  // 7.5px
  '1': $spacer,
  // 10px
  '1p5': $spacer * 1.5,
  // 15px
  '2': $spacer * 2,
  // 20px
  '2p5': $spacer * 2.5,
  // 25px
  '3': $spacer * 3,
  // 30px
  '4': $spacer * 4,
  // 40px
  '5': $spacer * 5,
  // 50px
  '1rem': 1rem,
);

// Cookie Consent
$cookie-consent-color: #000 !default;
$cookie-consent-link-color: var(--primary) !default;
$cookie-consent-hover-link-color: var(--secondary) !default;

// Nav
// ------------------------------------
$navbar-background-color: transparent !default;
$navbar-show-background-color: var(--body-bg-accent) !default;
$navbar-dark-active-color: var(--primary) !default;
$navbar-nav-link-padding-x: 1em !default;
$navbar-nav-link-padding-y: 1em !default;
$navbar-search-background-color: var(--body-bg-accent) !default;

// Uses navbar-dark theme so we can use variables for colouring
$navbar-dark-active-color: #fd4766 !default;
$navbar-dark-color: var(--body-color) !default;
$navbar-dark-hover-color: #fd4766 !default;

// Sub Navivgation
$subnav-nav-item-color: var(--body-color) !default;
$subnav-nav-item-hover-background-color: var(--primary) !default;
$subnav-nav-item-active-background-color: var(--primary) !default;
$subnav-dropdown-background: var(--body-bg-accent) !default;

// Buttons
$button-text-color: var(--body-bg) !default;
$button-text-color-hover: var(--body-bg) !default;
$button-background: var(--primary) !default;
$button-background-hover: var(--secondary) !default;
$trailer-button-text-color: var(--body-color) !default;
$mobile-nav-link-color: var(--body-color) !default;

$signin-text-color: var(--body-color) !default;
$signin-text-color-hover: var(--primary) !default;
$signin-border-color: transparent !default;
$signin-border-color-hover: transparent !default;
$signin-background: rgba(var(--body-color-rgb), 0.1) !default;
$signin-background-hover: rgba(var(--body-color-rgb), 0.2) !default;
$signin-background-lg: transparent !default;
$signin-background-hover-lg: transparent !default;

$signup-text-color: $button-text-color !default;
$signup-text-color-hover: $button-text-color-hover !default;
$signup-border-color: transparent !default;
$signup-border-color-hover: transparent !default;
$signup-background: $button-background !default;
$signup-background-hover: $button-background-hover !default;

$signout-background: rgba(var(--body-color-rgb), 0.1) !default;
$signout-background-hover: rgba(var(--body-color-rgb), 0.2) !default;
$signout-text-color: var(--body-color) !default;
$signout-text-color-hover: var(--body-color) !default;

// Image Gradient Overlays
$top-gradient-color: var(--body-bg-rgb) !default;
$right-gradient-bg-color: var(--body-bg-rgb) !default;
$bottom-gradient-bg-color: var(--body-bg-rgb) !default;
$left-gradient-bg-color: var(--body-bg-rgb) !default;

// Carousel
$carousel-bg-color: var(--body-bg) !default;

// Footer
$footer-brand-min-width: 100px !default;
$footer-brand-min-width-md: 100px !default;
$footer-bar-background-color: var(--body-bg-accent) !default;

// Social
// ------------------------------------
$facebook-color: var(--body-color) !default;
$instagram-color: var(--body-color) !default;
$twitter-color: var(--body-color) !default;
$youtube-color: var(--body-color) !default;
$linkedin-color: var(--body-color) !default;
$letterboxd-color: var(--body-color) !default;

// Meta Items
// ------------------------------------
$meta-item-border-radius: 4px !default;
$featured-meta-item-body-padding: 10px !default;
$meta-item-body-color: var(--body-color) !default;
$meta-item-tagline-classification-border-radius: $meta-item-border-radius !default;

// Posters
// ------------------------------------
$poster-portrait-width: 282px !default;
$poster-portrait-height: 422px !default;
$poster-landscape-width: 585px !default;
$poster-landscape-height: 330px !default;
$poster-carousel-width: 1600px !default;
$poster-carousel-height: 600px !default;

$poster-landscape-size-ratio: (
  math.div($poster-landscape-height, $poster-landscape-width)
) !default;
$poster-portrait-size-ratio: math.div($poster-portrait-height, $poster-portrait-width) !default;
$poster-carousel-size-ratio: math.div($poster-carousel-height, $poster-carousel-width) !default;

$poster-border-radius: $meta-item-border-radius !default;

// Page Collections
// ------------------------------------

$page-collection-container-width: 1140px !default;
$page-collection-item-padding-horizontal: math.div($grid-gutter-width-base, 2) !default;
// $page-collection-item-padding-horizontal: 15px !default;

// Sliders
// ------------------------------------

$slider-control-width: 50px !default;
$slider-control-height: 50px !default;
// $slider-control-color: $text-color-light !default;
$slider-control-bg: rgba(255, 255, 255, 0.8) !default;

// Icons
// ------------------------------------

$icon-play-size: 32px !default;
$icon-play-color: #fff !default;
$icon-play-bg: rgba(#000, 0.8) !default;
$icon-play-hover-color: #fff !default;
$icon-play-hover-bg: rgba(#fff, 0.8) !default;

// Modals
// ------------------------------------
$modal-footer-button-margin: 5px;

// Fonts
// ------------------------------------
$font-family-base: 'Poppins', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji' !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 500 !default;
