@use 'sass:math';

// This file contains any variables used by the site.
// These variables should be reasonably generic so that overrides are placed in main.scss.

:root {
  /*#region BASE COLOURS */
  // Don't put derivative colour variables in this region.

  --primary-rgb: 0, 163, 255;
  --secondary-rgb: 102, 199, 255;
  --body-color-rgb: 248, 248, 248;
  --body-bg-rgb: 0, 0, 0;

  // To calculate --body-color-hover-rgb, do:
  //   1.  Convert var(--body-color-rgb) to hex.
  //   2a. If dark themed, run it through the Sass darken function:  darken(hex, 20%).
  //   2b. If light themed, run it through the Sass lighten function:  lighten(hex, 20%).
  //   3.  Convert the result back to RGB.
  //   TODO(jackh): figure out a non-Sass way of calculating this.
  --body-color-hover-rgb: 204, 204, 204;

  // To calculate --input-focus-border-color-rgb, do:
  //   1.  Convert var(--body-bg) to hex.
  //   2a. If dark themed, run it through the Sass lighten function:  lighten(hex, 10%).
  //   2b. If light themed, run it through the Sass darken function:  darken(hex, 10%).
  //   3.  Convert the result back to RGB.
  //   TODO(jackh): figure out a non-Sass way of calculating this.
  --body-bg-accent-rgb: 25, 25, 25;

  // To calculate --input-focus-border-color-rgb, do:
  //   1.  Convert var(--primary-rgb) to hex.
  //   2.  Run it through the Sass lighten function:  lighten(hex, 25%).
  //   3.  Convert the result back to RGB.
  //   TODO(jackh): figure out a non-Sass way of calculating this.
  --input-focus-border-color-rgb: 131, 210, 216;

  // To calculate --hover-background-rgb, do:
  //   1.  Convert var(--body-bg-accent-rgb) to hex.
  //   2a. If dark themed, run it through the Sass lighten function:  lighten(hex, 13%).
  //   2b. If light themed, run it through the Sass darken function:  darken(hex, 13%).
  //   3.  Convert the result back to RGB.
  //   TODO(jackh): figure out a non-Sass way of calculating this.
  --hover-background-rgb: 58, 58, 58;

  // It's in the designs :/
  --live-red-rgb: 224, 49, 49;

  --primary: rgb(var(--primary-rgb));
  --secondary: rgb(var(--secondary-rgb));
  --body-color: rgb(var(--body-color-rgb));
  --body-color-hover: rgb(var(--body-color-hover-rgb));
  --body-bg: rgb(var(--body-bg-rgb));
  --body-bg-accent: rgb(var(--body-bg-accent-rgb));
  --input-focus-border-color: rgb(var(--input-focus-border-color-rgb));
  --hover-background: rgb(var(--hover-background-rgb));
  --live-red: rgb(var(--live-red-rgb));
  /*#endregion BASE COLOURS */

  --live-label-background-color: var(--hover-background);
  --live-label-live-background-color: var(--live-red);

  --tooltip-color: var(--button-text-color, #000);
  --tooltip-bg: var(--primary, #00a3ff);
  --tooltip-arrow-color: var(--tooltip-bg);

  --input-height: 40px;

  --link-color: var(--body-color);
  --link-color-hover: var(--body-color-hover);

  --navbar-link-color: var(--body-color);
  --navbar-link-hover-color: var(--body-color-hover);
  --navbar-search-background-color: var(--body-bg-accent);
  --navbar-dropdown-background: var(--body-bg-accent);
  --navbar-brand-height: 50px;

  --footer-brand-height: 50px;
  --footer-app-badge-android-tv: var(
    --body-color
  ); // AndroidTV brand guidelines state this must be black or white
  --footer-social-bg: var(--body-bg-accent);
  --footer-social-bg-hover: var(--primary);
  --footer-social-icon: var(--body-color);
  --footer-social-icon-hover: var(--body-bg);

  --signin-text-color: var(--body-color);
  --signin-text-color-hover: var(--body-color-hover);
  --signin-border-color: transparent;
  --signin-border-color-hover: transparent;
  --signin-background: rgba(var(--body-color-rgb), 0.1);
  --signin-background-hover: var(--hover-background);
  --signin-background-lg: transparent;
  --signin-background-hover-lg: transparent;
  --signout-background: rgba(var(--body-color-rgb), 0.1);
  --signout-background-hover: rgba(var(--body-color-rgb), 0.2);
  --signout-text-color: var(--body-color);
  --signout-text-color-hover: var(--body-color);

  // Buttons
  --button-text-color: var(--body-bg);
  --button-text-color-hover: var(--body-bg);
  --button-background: var(--primary);
  --button-background-hover: var(--secondary);
  --trailer-button-text-color: var(--body-color);
  --mobile-nav-link-color: var(--body-color);
  --slider-button-color: var(--body-color);
  --signin-sso-btn-text-color: var(--button-text-color);
  --signin-sso-btn-text-hover-color: var(--button-text-color-hover);
  --signin-sso-btn-background-color: var(--button-background);
  --signin-sso-btn-background-hover-color: var(--button-background-hover);

  // Carousel
  --carousel-height: 52vh;
  --carousel-height-sm: 68vh;
  --carousel-height-lg: 82vh;
  --carousel-bottom-gradient-height: 200px; // Increase this to 300px for light theme.
  --carousel-bottom-gradient-height-sm: 200px; // Increase this to 300px for light theme.
  --carousel-bottom-gradient-height-lg: 200px; // Increase this to 600px for light theme.
  --carousel-image-object-position: center;
  --carousel-image-object-position-sm: center;
  --carousel-image-object-position-lg: center;

  // Title Image sizing - carousel and detail page:
  --title-image-width: 250px;
  --title-image-width-sm: 350px;
  --title-image-width-lg: 400px;
  --title-image-max-height: 180px;

  // Pages
  --collection-padding-bottom: 40px;

  --page-padding-top: 120px;
  --page-padding-top-md: 120px;
  --page-padding-top-lg: 180px;
  --page-detail-padding-top: 160px;
  --page-detail-padding-top-md: 248px;
  --page-detail-padding-top-lg: 400px;

  --heading-1-style-letter-spacing: normal;
  --heading-2-style-letter-spacing: normal;
  --heading-3-style-letter-spacing: normal;
  --heading-3-style-letter-spacing-sm: normal;
  --heading-4-style-letter-spacing: normal;
  --body-1-style-letter-spacing: normal;
  --body-2-style-letter-spacing: normal;
  --subtitle-1-style-letter-spacing: normal;
  --subtitle-2-style-letter-spacing: normal;
  --caption-1-style-letter-spacing: normal;
  --overline-style-letter-spacing: normal;

  --heading-1-style-font-size: 32px;
  --heading-1-style-font-size-xs: 46px;
  --heading-1-style-font-size-small: 24px;
  --heading-2-style-font-size: 29px;
  --heading-2-style-font-size-sm: 35px;
  --heading-3-style-font-size: 20px;
  --heading-3-style-font-size-sm: 24px;
  --heading-4-style-font-size: 18px;
  --body-1-style-font-size: 16px;
  --body-2-style-font-size: 14px;
  --subtitle-1-style-font-size: 16px;
  --subtitle-2-style-font-size: 14px;
  --caption-1-style-font-size: 16px;
  --overline-style-font-size: 14px;

  /* Alert component dark theme colours */

  --alert-background-color-error: rgba(255, 255, 255, 0.16);
  --alert-border-color-error: #ed7470;
  --alert-title-color-error: #ed7470;
  --alert-text-color-error: rgba(var(--body-color-rgb), 0.8);

  --alert-background-color-success: #25262b;
  --alert-border-color-success: #20c997;
  --alert-title-color-success: #20c997;
  --alert-text-color-success: rgba(var(--body-color-rgb), 0.8);

  /* Alert component light theme colours */
  /* Swap above with these for light theme templates
  --alert-background-color-error: #ffffff;
  --alert-border-color-error: #fa5252;
  --alert-title-color-error: #fa5252;
  --alert-text-color-error: #000000;

  --alert-background-color-success: #ffffff;
  --alert-border-color-success: #12b886;
  --alert-title-color-success: #12b886;
  --alert-text-color-success: #000000;
  */
}

// Bootstrap 4 overrides START
$input-btn-focus-color: rgba(var(--primary-rgb), 0.25) !default;
$input-focus-border-color: var(--input-focus-border-color) !default;
$custom-control-indicator-checked-disabled-bg: rgba(var(--primary-rgb), 0.5) !default;
$progress-bar-bg: var(--primary) !default;
$body-color: var(--body-color) !default;
$body-bg: var(--body-bg) !default;
$body-bg-accent: var(--body-bg-accent) !default;
$error-color: var(--body-color) !default;
$error-background: rgba(var(--body-color-rgb), 0.1) !default;
$hr-border-color: rgba(var(--body-color-rgb), 0.5) !default;
$list-group-bg: var(--body-bg) !default;
$list-group-border-color: rgba(var(--body-color-rgb), 0.125) !default;
// Bootstrap 4 overrides END

// Bootstrap variables copied here, that some of the below are dependent on.
$grid-gutter-width-base: 30px !default;

// An extra XXL breakpoint added to the default set.
// NOTE(gscragg): I would not advise changing these 2 variables here without consulting me first.
$grid-breakpoints: (
  xxxs: 0,
  xxs: 320px,
  xs: 568px,
  sm: 667px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1600px,
) !default;

$container-max-widths: (
  xxxs: 0,
  xxs: 320px,
  xs: 568px,
  sm: 667px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1600px,
) !default;

$spacer: math.div(5, 8) * 1rem; // 10px

$spacers: (
  '0': 0,
  'p5': $spacer * 0.5,
  // 5px
  'p75': $spacer * 0.75,
  // 7.5px
  '1': $spacer,
  // 10px
  '1p5': $spacer * 1.5,
  // 15px
  '2': $spacer * 2,
  // 20px
  '2p5': $spacer * 2.5,
  // 25px
  '3': $spacer * 3,
  // 30px
  '4': $spacer * 4,
  // 40px
  '5': $spacer * 5,
  // 50px
  '1rem': 1rem,
);

// Cookie Consent
$cookie-consent-color: #000 !default;
$cookie-consent-link-color: var(--primary) !default;
$cookie-consent-hover-link-color: var(--secondary) !default;

// Nav
// ------------------------------------
$navbar-background-color: transparent !default;
$navbar-show-background-color: var(--body-bg-accent) !default;
$navbar-dark-active-color: var(--primary) !default;
$navbar-nav-link-padding-x: 1em !default;
$navbar-nav-link-padding-y: 1em !default;

// Uses navbar-dark theme so we can use variables for colouring
$navbar-dark-active-color: #fd4766 !default;
$navbar-dark-color: var(--body-color) !default;
$navbar-dark-hover-color: #fd4766 !default;

// Buttons
$button-text-color: var(--button-text-color) !default;
$button-text-color-hover: var(--button-text-color-hover) !default;
$button-background: var(--button-background) !default;
$button-background-hover: var(--button-background-hover) !default;
$trailer-button-text-color: var(--trailer-button-text-color) !default;
$mobile-nav-link-color: var(--mobile-nav-link-color) !default;

$signup-text-color: $button-text-color !default;
$signup-text-color-hover: $button-text-color-hover !default;
$signup-border-color: transparent !default;
$signup-border-color-hover: transparent !default;
$signup-background: $button-background !default;
$signup-background-hover: $button-background-hover !default;

// Image Gradient Overlays
$top-gradient-color: var(--body-bg-rgb) !default;
$right-gradient-bg-color: var(--body-bg-rgb) !default;
$bottom-gradient-bg-color: var(--body-bg-rgb) !default;
$left-gradient-bg-color: var(--body-bg-rgb) !default;

// Carousel
$carousel-bg-color: var(--body-bg) !default;

// Footer
$footer-brand-min-width: 100px !default;
$footer-brand-min-width-md: 100px !default;
$footer-bar-background-color: var(--body-bg-accent) !default;

// Meta Items
// ------------------------------------
$meta-item-border-radius: 4px !default;
$featured-meta-item-body-padding: 10px !default;
$meta-item-body-color: var(--body-color) !default;
$meta-item-tagline-classification-border-radius: $meta-item-border-radius !default;

// Posters
// ------------------------------------
$poster-portrait-width: 282px !default;
$poster-portrait-height: 422px !default;
$poster-landscape-width: 585px !default;
$poster-landscape-height: 330px !default;
$poster-carousel-width: 1600px !default;
$poster-carousel-height: 600px !default;

$poster-landscape-size-ratio: (
  math.div($poster-landscape-height, $poster-landscape-width)
) !default;
$poster-portrait-size-ratio: math.div($poster-portrait-height, $poster-portrait-width) !default;
$poster-carousel-size-ratio: math.div($poster-carousel-height, $poster-carousel-width) !default;

$poster-border-radius: $meta-item-border-radius !default;

// Page Collections
// ------------------------------------

$page-collection-container-width: 1140px !default;
$page-collection-item-padding-horizontal: math.div($grid-gutter-width-base, 2) !default;
// $page-collection-item-padding-horizontal: 15px !default;

// Sliders
// ------------------------------------

$slider-control-width: 50px !default;
$slider-control-height: 50px !default;
// $slider-control-color: $text-color-light !default;
$slider-control-bg: rgba(255, 255, 255, 0.8) !default;

// Icons
// ------------------------------------

$icon-play-size: 32px !default;
$icon-play-color: #fff !default;
$icon-play-bg: rgba(#000, 0.8) !default;
$icon-play-hover-color: #fff !default;
$icon-play-hover-bg: rgba(#fff, 0.8) !default;

// Modals
// ------------------------------------
$modal-footer-button-margin: 5px;

// Fonts
// ------------------------------------
$font-family-base: 'Poppins', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji' !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 500 !default;
