.s72-userwishlist-items {
  @extend .d-flex;
  flex-wrap: wrap;

  .partial {
    @extend .slider-item;
    padding-bottom: $grid-gutter-width;
  }
}

.s72-userwishlist-empty {
  // text-align: center;
  // margin-top: -50px;
  flex: 1;

  a {
    @include a;
  }
}

// dont show empty wishlist message on homepage slider
.page-homepage .s72-userwishlist-empty {
  display: none;
}

.s72-userwishlist-buttons {
  .s72-btn-wishlist {
    @extend .btn;
    font-size: 12px;
    font-weight: $font-weight-bold;
    margin-right: 32px; // was 10px before awards needed some space
    padding-bottom: 3px;
    padding-left: 0;
    padding-top: 3px;

    span {
      @extend .d-flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
    }

    .s72-icon {
      font-size: 32px !important;
      opacity: 0.8;
    }
  }
}

.poster .s72-userwishlist-buttons .s72-btn-wishlist {
  margin: 0;
  padding: 0;
}
