@import '_variables';

@import '_bootstrap4';
@import '_mixins';
@import '_globals';
@import '_shift72';
@import 'font-awesome/scss/font-awesome';

@import '_icons';
@import '_buttons';
@import '_pages';
@import '_forms';
@import '_card';

@import '_skip-link';
@import '_nav';

@import '_swiper';

@import '_meta-item';
@import '_meta-item-tagline';
@import '_availability-tags';

@import '_collections';
@import '_slider';
@import '_carousel';
@import '_poster';

@import '_homepage';
@import '_meta-detail';
@import '_footer';

@import '_shopping';
@import '_library';
@import '_wishlist';
@import '_search';
@import '_devices';
@import '_gradients';

@import '_social-media-buttons';
@import '_cookie-consent';
@import '_pin-codes';
@import '_language-selector';

@import '_can-be-watched-button';
@import '_plans';

@import '_awards';

@import '_legacy';

// @import local must be last in this file.
@import 'local/local';

// DO NOT PUT ANYTHING IN THIS FILE.

// Theme editor tools
.tools {
  position: fixed;
  background: rgba(225,225,225,.55);
  padding: 1em;
  margin: .5em;
  border-radius: .25em;
  max-width: 20em;
  top: 160px;
  right: 43px;
  z-index: 999;
  color: #000;
}

.tools > * {
  display: inline-block;
}

.tools label {

  min-width: 9em;
  max-width: 11em;
}
