@import '_variables';

@import '_bootstrap4';
@import '_mixins';
@import '_globals';
@import '_typography';
@import '_shift72';

@import '_icons';
@import '_buttons';
@import '_cta-buttons';
@import '_pages';
@import '_forms';
@import '_card';

@import '_skip-link';
@import '_nav';

@import '_swiper';

@import '_meta-item';
@import '_meta-sub-item';
@import '_meta-item-tagline';
@import '_meta-item-title';
@import '_availability-tags';
@import '_playback-progress';

@import '_collections';
@import '_slider';
@import '_carousel';
@import '_poster';

@import '_meta-detail';
@import '_meta-detail-creator';
@import '_detail-player';
@import '_footer';

@import '_shopping';
@import '_library';
@import '_wishlist';
@import '_search';
@import '_devices';
@import '_gradients';

@import '_share-modal';
@import '_cookie-consent';
@import '_pin-codes';
@import '_language-selector';

@import '_can-be-watched-button';
@import '_plans';

@import '_awards';

@import '_tooltips';

@import '_legacy';

// @import local must be last in this file.
@import 'local/local';

// DO NOT PUT ANYTHING IN THIS FILE.
